#   Strings

In [ ]:
# So what's a string really after all?

# It is a sequence of characters

In [1]:
mystring = "Hello" # We can use "some string" or also 'some string' it is exactly same here
# we will see there times when we want to use a particular quote style
type(mystring)

str

In [ ]:
mystring

'Hello'

In [ ]:
print(mystring)

Hello

In [4]:
# built in Unicode Support
myfriend = "JƒÅnis"
mycat = "≈Öauva"
myemojis = "Smiley üòä"
print(myfriend, mycat, myemojis)

JƒÅnis ≈Öauva Smiley üòä

## Strings
* immutable
* Unicode support


* implement all common sequence operators
https://docs.python.org/3/library/stdtypes.html#typesseq-common

* string specific methods
https://docs.python.org/3/library/stdtypes.html#string-methods

In [5]:
name = "Valdis"
print(name)

Valdis

In [6]:
len(name) # this is one of the sequence operators 
# we could not find len(5245245) because it is a number 
# but we could find len("3532") because it is a string

6

In [7]:
# so if you wanted to find how many digits your number has you could just convert it to str
# and then use len
my_number = 555_123_4368
my_str_from_number = str(my_number)
print(my_number, my_str_from_number, len(my_str_from_number))

5551234368 5551234368 10

In [9]:
name = "Voldemars"

In [10]:
len(name)

9

In [ ]:
len("name") # notice how checking len of string literal "name" is different from checking 
# length of variable pointing to a string

4

In [12]:
len("Valdis")

6

## String indexing

In [13]:
# first character in your string
# we use square brackets and our first letter/character is index 0 (not 1!!)
name[0],name[1],name[2]

('V', 'o', 'l')

In [ ]:
# so to get first item in a sequence we use my_sequence[0]
# this applies to strings , which is a type of sequence

In [14]:
"Valdis"[0]

'V'

In [15]:
name[2] # so 3rd character

'l'

In [16]:
name[5]

'm'

In [17]:
name = "Valdis"

In [18]:
len(name) # so the last character of my name should be with index ?

6

In [ ]:
name[5] # so if we have 6 characters in a string the last will be with index 5 
# how would we generalize to, for those strings where we do not know the length?

's'

In [19]:
#not a good pattern! anti-pattern a bad code smell in Python
# some other languages you have no choice but to use this approach
name[len(name)-1]

's'

In [20]:
name[-1]  # Turns out Python has indexing from both sides

's'

![StringIndexing](https://developers.google.com/static/edu/python/images/hello.png)

In [21]:
name[-2], name[4]  # so 2nd from the end is same as 5th character in my name

('i', 'i')

In [ ]:
len(name)

6

In [22]:
name[5],name[-1],name[-2]

('s', 's', 'i')

In [ ]:
name[-1]

In [ ]:
name[-2]

In [ ]:
name[-6]

'V'

In [23]:
# so I do not have 7 letters in my name so index 6 will throw an exception IndexError
name[6]

IndexError: ignored

In [25]:
empty = "" # in case of empty string any index will throw an error
# so you would want to write an if statement checking length of string before doing some indexing

In [26]:
empty[0]

IndexError: ignored

## String Slicing 

The best thing since sliced bread.

In [27]:
# Slicing syntax
# Start at 0 an go until but not including 3
# some languages would do with name.subslice(0,3), name.slice(0,3) etc
# Python offers a short way of doing this slice
name[0:3] # notice we only get 3 characters not 4
# turns last index is NOT included in slicing, so start at 0 and go until index 3(which 4th element)

'Val'

In [28]:
# begginning 0 is not necessary
# now this decision to NOT include last character makes sense
name[:3] # so you can read it as get first 3 characters, even though underneath
# technically we are getting characters indexed, 0,1,2

'Val'

In [29]:
name[:4]

'Vald'

In [30]:
name[1:3] # so 2nd (with index 1) and 3rd(with index 2) but not the 4th(with index 3)

'al'

In [31]:
name[1:4]

'ald'

In [ ]:
# how about negative indexes in slicing?

In [32]:
name[-3], name[-3:-1], name[-3:] # in the last example if nothing is after : then slice includes
# everything until the end

('d', 'di', 'dis')

In [33]:
name[:] # this works but here it is useless for strings we get FULL string here 
# not a copy because strings are immutable
# this might work for generating copy for other sequences

'Valdis'

In [ ]:
# so we can use single index for single characters
# [start:beg] for range of characters, so beg is not included
# [starT:beg:step] for jumping over characters

In [34]:
name[0:6:2], name[:6:2],name[::2]

('Vli', 'Vli', 'Vli')

In [ ]:
name, name[0:6:1], name[::]

('Valdis', 'Valdis', 'Valdis')

In [35]:
food = "potatoes"
food[::2]  # so i got every 2nd character starting from the first

'ptte'

In [37]:
import string  # this is a helper library with some values
# you do not have to import it unless you want to use these values
alphabet = string.ascii_lowercase # by using this library i will avoid typoes forgetting some letterb
alphabet

'abcdefghijklmnopqrstuvwxyz'

In [38]:
alphabet[::2]

'acegikmoqsuwy'

In [39]:
alphabet[1::2] # so start at 2nd letter go towards end and get every 2nd letter

'bdfhjlnprtvxz'

In [40]:
food[1::2]

'oaos'

In [41]:
food[1:6:2]

'oao'

In [42]:
name[::1] # this is also not very useful, since 1 is the default step

'Valdis'

In [ ]:
name[1:6:2]

'ads'

In [ ]:
name[:5]

'Valdi'

In [ ]:
# Pythonic way of reversing a string

In [43]:
name[::-1] # turns out we can use a negative step!

'sidlaV'

In [44]:
food[::-1]

'seotatop'

In [45]:
alphabet[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [46]:
# we can also use negative step with starting and stop values
alphabet[-3:-10:-2]

'xvtr'

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 3rd letter of your favorite
* Output first 2 letters of your favorite
* Output last 3 letters of your favorite
* Output reverse of your favorite
* Output every 2nd character of your favorite in reverse

In [47]:
myfood = "ice cream"
myfood[2]

'e'

In [48]:
myfood[:2], myfood[-3:]

('ic', 'eam')

In [49]:
myfood[::-1],myfood[::-2]

('maerc eci', 'mecei')

In [50]:
food[4::-1]

'tatop'

In [ ]:
name[5:2:-1]

'sid'

## How to change strings

In [ ]:
# Remember stings are immutable, so how do we change them

In [51]:
name[3]='b' # so we tried to change 4th character of my name to b...
# there are languages which will let you do this

TypeError: ignored

In [53]:
#name[3]="b" # Can we do this?
# turns out we can concatanate strings
# so I take first 3 characters of my name and then 5th character to the end
newname=name[:3]+"z"+name[4:]
print(newname)

Valzis

In [54]:
#name[3]="b" # Can we do this?
another_name=name[:3]+"z"+name[3:]
# in effect I will have inserted a new character "z" between existing characters 
# without deleting anything
print(another_name)

Valzdis

In [ ]:
# so an answer is string concatenation with +
# so + is so called overloaded operator in Python 
# means it works on many different data types
mycat = "kaƒ∑is" + " Muris"
mycat

'kaƒ∑is Muris'

In [55]:
cat_name = "Winnie"
cat_name

'Winnie'

In [56]:
# instead of using +
# we have other ways of formatting strings
# most notably f-strings
my_other_cat = f"My cat is called {cat_name}"
my_other_cat

'My cat is called Winnie'

In [ ]:
len(mycat)

11

In [ ]:
n=name
n2=name
print(n2)
print(id(n2),id(name), id(n))
print(name[:])

Valdis
2205798161008 2205798161008 2205798161008
Valdis

In [ ]:
name == n2

True

In [ ]:
name == newname[:3] + 'd' + newname[4:]

True

In [ ]:
newname[:3] + 'd' + newname[4:]

'Valdis'

In [ ]:
name = "Voldemars"
print(n,n2,name)

Valdis Valdis Voldemars

In [ ]:
n2 = "Something"

In [ ]:
name=name[::-1]
print(name)

sramedloV

## Multiline Strings

In [57]:
# One approach is to add newline symbol in a string \n
# so we are using escape symbol \ which has special for some characters

newline_string ="firstline\nsecondline"
print(newline_string)

firstline
secondline

In [58]:
newline_string # turns out using the quick way of printing strings gives us developer view

'firstline\nsecondline'

In [59]:
# if we use print then we will get user centric view
print(newline_string)

firstline
secondline

In [ ]:
# so there is a list of escape characters
# https://developers.google.com/static/edu/python/images/hello.png

In [ ]:
# in Python single and double quotes work the same way, you just need a matching pair

In [60]:
# so if we want ' inside our text we use " as outer divider
quote = "Alice told the rabbit 'go down the hole' and rabbit complied"
print(quote)

Alice told the rabbit 'go down the hole' and rabbit complied

In [61]:
# alternatively I could have escped the quotes
# without escaping the text would end after rabbit  
quote = "Alice told the rabbit \"go down the hole\" and rabbit complied"
print(quote)

Alice told the rabbit "go down the hole" and rabbit complied

In [62]:
# there are also raw strings without escaping
raw_string = r"Alice \n not a new line"
print(raw_string)

Alice \n not a new line

In [63]:
# without using r prefix I would have to use double escaping
also_string = "Alice \\n not a new line" # so I had to escape \ with itself \\
print(also_string)

Alice \n not a new line

In [ ]:
# so if we want to include double quotes inside
# we use ' for outside 
quote = 'Alice told the rabbit "go down the hole" and rabbit complied'
print(quote)

Alice told the rabbit "go down the hole" and rabbit complied

In [64]:
# for multistrings you can put whater inside as long as it is not """ :)

multi_string = """Really
Long
And
Boring
    With Taba and maybe 'quote something' and even use double quotes "for talking" and so on \"\"\"
String"""
print(multi_string)

Really
Long
And
Boring
    With Taba and maybe 'quote something' and even use double quotes "for talking" and so on """
String

In [65]:
# we can even use multi-line strings with f - strings to add some values inside
a = 5
year = 2023
my_big_string = f"""Oh this is nice {year}
the number is {a} which cubed is {a**3}
    also my name is {name}
and I can write some more"""

print(my_big_string)

Oh this is nice 2023
the number is 5 which cubed is 125
    also my name is Valdis
and I can write some more

In [ ]:
mytext = 'Just a quote'
mytext

'Just a quote'

In [ ]:
myquote = 'They said "It was a long and stormy night" ending the story'
myquote

'They said "It was a long and stormy night" ending the story'

In [ ]:
myquote = "Another quote\"Stormy night\" continuing the story"
myquote

'Another quote"Stormy night" continuing the story'

In [66]:
"Valdis" + 5 # two different data types - they do not play together

TypeError: ignored

In [ ]:
# the answer is casting number to string beforehand

In [67]:
"Valdis " + str(5),"Valdis " + '5'

('Valdis 5', 'Valdis 5')

In [ ]:
a=10
t="Talk "+str(a)
print(t)

Talk 10

In [ ]:
t = "Talk "+"10"
print(t)

Talk 10

In [ ]:
str(555)

'555'

In [ ]:
id('25'),id(25)

(2814172811480, 140711459395136)

In [ ]:
'25'+'45',25+45

('2545', 70)

In [ ]:
int('345')

345

In [ ]:
int("70")

70

In [ ]:
int('70')

70

In [ ]:
?str

In [68]:
much_beer = "Beer"*5 # i can multiple strings this could come in handy in homework #1
much_beer

'BeerBeerBeerBeerBeer'

In [ ]:
# Automatic string concatenation without +
funny_string = ('Monty '
'Python ' 
'Spam '*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam

In [ ]:
print("It's \ta \"wonderful\" \nlife")

It's 	a "wonderful"
life

In [ ]:
# How to print a line which does not fit in a single line
print('Really really long line\
   mVW')

Really really long line   mVW

In [ ]:
print('Alice said "hello"')

Alice said "hello"

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [71]:
newstr = f"2+2={2+2} nice isn't {name[::-1]*3} also \n {much_beer}"
print(newstr)

2+2=4 nice isn't sidlaVsidlaVsidlaV also
 BeerBeerBeerBeerBeer

In [72]:
from datetime import datetime
now = datetime.now()
year = now.year
date = now.date
day = now.day

In [87]:
month = now.month
weekday = now.weekday()

In [88]:
# actual real usage
# weekday="Monday"
# month="February"
# day=13
greeting = f"Today is {day}th of {month} which is {weekday}. Nice {month} isn't it ? "
print(greeting)
#nicer than format method
# so here we have numerics for month and weekday - so months(January) start with 1 but weekdays(Monday) with 0

Today is 27th of 2 which is 0. Nice 2 isn't it ?

In [ ]:
# notice how I did not have to cast 13 to str(13) in the above example

In [89]:
seconds=345.24556
width=32 # how much space our formatted value should take up
precision=4 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{width}.{precision}} seconds since start of new era')
print(f'Elapsed {seconds:{9}.{6}} seconds since start of new era')
print(f'Number {75556.2222:{12}.{8}}')

Elapsed 345.24556 seconds since start of new era
Elapsed                            345.2 seconds since start of new era
Elapsed   345.246 seconds since start of new era
Number    75556.222

In [ ]:
myresult = f"0.1+0.2={0.1+0.2:{4}.{4}}"
myresult

'0.1+0.2= 0.3'

In [ ]:
greeting[10:33:1] # you can always get a slice from a string

'3th of October which is'

In [ ]:
my_hello = f"Hello {name}, nice day isn't day for a walk?"
print(my_hello)

Hello Valdis, nice day isn't day for a walk?

### Python 3.X strings are Unicode by default no more 'u prefixes

In [ ]:
myfood = "porridge"

In [ ]:
myfood

'putra'

In [ ]:
myfood[2]

't'

In [ ]:
myfood[:2]

'pu'

In [ ]:
myfood[-3:]

'tra'

In [ ]:
myfood[::-1]

'artup'

In [ ]:
myfood[::-2]

'atp'

String Methods

[String Methods Docs](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [90]:
myfood

'ice cream'

In [91]:
myfood = "iCe cREam"
myfood

'iCe cREam'

In [92]:
bigfood = myfood.capitalize() # i pressed tab after . and saw all kind of methods I can apply to my string
bigfood

'Ice cream'

In [ ]:
myfood.

In [ ]:
myfood.capitalize() # note that capitilize DOES NOT change the string, it makes a new one

'Porridge'

In [93]:
# count the number of occurences in a string
myfood.count('r') # why do we have zero?

0

In [94]:
print(myfood) # count is case sensitive!

iCe cREam

In [96]:
# if you want to count upper and lower case 
# you can firs lower case the text and then count
# alternative you could upper case the text and then count
myfood.lower()

'ice cream'

In [97]:
myfood.lower().count('c') # so i converted all characters to lowercase then counter

2

In [98]:
myfood.count("Ce") # i could have converted to lowercase here and then counted "ce"

1

In [ ]:
# count the number of occurences in a string
myfood.count('idg')

1

In [ ]:
myfood.count('a')

0

In [99]:
# if you just want to check whether there are any specific characters in your string
'u' in myfood

False

In [100]:
'c' in myfood

True

In [102]:
# you could use this boolean in a if (or while even)
if 'c' in myfood:
    print(f"Wow there is letter c in {myfood} !!")
else: 
    print(f"Sorry no such letter in {myfood}")

Wow there is letter c in iCe cREam !!

In [ ]:
'o' in myfood

True

In [103]:
'C' in myfood

True

In [ ]:
# we can check for substring in our string
'rid' in myfood

True

In [ ]:
# we can check for substring in our string
'put' in bigfood

False

In [104]:
'somethinglongthatisnot' in myfood

False

In [105]:
# find first index of where the substring starts in our string
# remember we count from 0!
# index will also raise ValueError exception if nothing is found
# so you might want to use this inside try: except block
myfood.index('rid')

ValueError: ignored

In [106]:
myfood.find('notfound') # so find gives you -1 if not found while index gives you error if not found

-1

In [108]:
myfood.find('REa'), myfood.index('REa')

(5, 5)

In [109]:
# both of the above methods will give index of first match

In [110]:
magic_words = "abracadabra magic"
magic_words.find("bra") # gives me 1 because that is where index of first place we find it

1

In [113]:
magic_words.find("bra", magic_words.find("bra")+1 ) # so you could skip the first find

1

In [114]:
# even better would be to write a loop to find these instances
haystack = much_beer # i could have used much_beer directly , haystack is just an alias/shortcut
needle = "eer"
n = -1
while True:
    n = haystack.find(needle, n+1) # so i started with -1+1(0) then our first search goes correctly
    if n == -1:
        print(f"All out of needles")
        break
    print(f"Found needle {needle} in our haystack {haystack} at index {n}")

Found needle eer in our haystack BeerBeerBeerBeerBeer at index 1
Found needle eer in our haystack BeerBeerBeerBeerBeer at index 5
Found needle eer in our haystack BeerBeerBeerBeerBeer at index 9
Found needle eer in our haystack BeerBeerBeerBeerBeer at index 13
Found needle eer in our haystack BeerBeerBeerBeerBeer at index 17
All out of needles

In [ ]:
myfood.find('rid')

3

In [115]:
myfood[myfood.index('Ce'):] # so find where rid starts and give me the rest of the string

'Ce cREam'

In [116]:
# if I want to print only a few characters I can use offset
# in this example I want to find "def" and print 5 characters from the start of find
alphabet[alphabet.find("def"):alphabet.find("def")+5]

'defgh'

In [118]:
# I could include negative offset as well
# slicing actually will not throw errors on out of range indexes
alphabet[alphabet.find("def"):alphabet.find("def")+10]

'defghijklm'

In [ ]:
myfood.upper()

'PORRIDGE'

In [ ]:
name[0:6:1]

'Valdis'

In [ ]:
name.lower()

'valdis'

In [119]:
name.isdecimal()

False

In [120]:
"55555".isdecimal()

True

In [ ]:
# ourstring. then use Tab to see what functions/methods are available
# methods/functions use parenthesis "Valdis".upper()

In [121]:
name.upper()

'VALDIS'

In [123]:
# title capitalizes first letters of each word (and lowercases everything else)
myfood.title()

'Ice Cream'

In [124]:
myfood.casefold() # this is very similar to lower actually
# tiny difference in some languages like German
# https://stackoverflow.com/questions/45745661/lower-vs-casefold-in-string-matching-and-converting-to-lowercase

'ice cream'

# What about looping through our strings?

In [126]:
# so come up with a name for your loop variable
# you could use any other normal variable name instead of c
for c in name: # c is very typical for representing, but it will be a string
    print(c)
    print(c.upper())
    print(f"Letter {c=}, unicode is {ord(c)}") # this is new to python 3.8+ so will not work on python 3.7

V
V
Letter c='V', unicode is 86
a
A
Letter c='a', unicode is 97
l
L
Letter c='l', unicode is 108
d
D
Letter c='d', unicode is 100
i
I
Letter c='i', unicode is 105
s
S
Letter c='s', unicode is 115

In [ ]:
print(f"My variable {name=}")

My variable name='Valdis'

In [ ]:
# tiny practice 
# print only letters in your name less than "i" and make them uppercase

In [ ]:
limit = "i"
result = ""
print(f"Our {limit=} code is {ord(limit)}")
for c in name:
    print(f"{c=} code is {ord(c)}")
    if c.lower() < limit:
        print(c)
        result += c 
        # it is same as saying result = result + c, we make a new string overwriting the old one
        # for very long strings this could get pretty slow ( i am talking huuuge strings)

Our limit='i' code is 105
c='V' code is 86
c='a' code is 97
a
c='l' code is 108
c='d' code is 100
d
c='i' code is 105
c='s' code is 115

In [ ]:
print(result)

ad

In [ ]:
result.upper()

'AD'

In [127]:
mycity = "    Riga \t\n "
mycity

'    Riga \t\n '

In [128]:
clean_city = mycity.strip() # so whitespace are any non character symbols
clean_city

'Riga'

In [129]:
myfood = "chocolate ice cream sunday"
myfood

'chocolate ice cream sunday'

In [130]:
myfood.capitalize(), myfood.title()

('Chocolate ice cream sunday', 'Chocolate Ice Cream Sunday')

In [131]:
min(name)

'V'

In [132]:
max(name) #the character with the highest ASCII value in the string

's'

In [ ]:
min(myfood)

' '

In [ ]:
max(myfood)

'y'

## Key Concepts

* Strings - Character Sequences
* Indexing - Zero based, positive and negative
* Slicing
* Various methods
* Looping through strings

## Next - List

Many of the sequence operations we used for strings
will be usable on other sequence such as list which come next time.