# Variables, Arithmetic and Data Types

## Text Cells are for writing text

You can write lists like this list of topics:
* Variables
* Arithmetic
* Data types

![Python](https://www.python.org/static/community_logos/python-logo.png)

Links such as this 
[Github guide to Markdown](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax)

In [1]:
print("Hello Variables!")

Hello Variables!

In [2]:
!dir

sample_data

In [3]:
!dir sample_data

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [4]:
# This is a comment - meant for humans, computers ignore anything after #
print("This is printing")
# print("This is not printing")

This is printing

In [9]:
# see if you can make an error - debugging errors is an important skill
print("somehing")

somehing

In [10]:
my_name = "Valdis" # in Python we need no special keyword for variables
# in effect I am binding my_name to string literal "Valdis" - for the time being

In [17]:
print("So my current name is", my_name) # by default , will give us single space separation for print

So my current name is Valdis

In [14]:
myname = "Val" # this is a different variable!

In [16]:
print("My name is", myname)

My name is Val

In [ ]:
# Generally you should run cells in order because easier to reason about

In [ ]:
# variable names should generally start with lowercase letter 
# and can contain letters, numbers and underscores like some_Var_5324 - not a good name but legal
# so typically multiple words in variable are connected with _

In [18]:
my_var = 6
print(my_var) # snake syntax meaning _ syntax
myVar = 50 # camelCase syntax common in Javascript other programming
# camelCase syntax is generally less used or avoided in Python
print(myVar) 
# Recommendation is to keep one style for one project, one notebook

6
50

In [20]:
my_NAME = "Saules"
print(my_NAME) # Case sensitive so different from my_name
# generally you want to use lowercase

Saules

In [ ]:

The following identifiers are used as reserved words, or keywords of the language, and cannot be used as ordinary identifiers. They must be spelled exactly as written here:

False      class      finally    is         return
None       continue   for        lambda     try
True       def        from       nonlocal   while
and        del        global     not        with
as         elif       if         or         yield
assert     else       import     pass
break      except     in         raise

In [27]:
# class = "RTU" # not legal
class_ = "RTU Python" # legal with underscore
# one workaround if you really need the class as a variable name for some reason
# add underscore, I've seen libraries(tools) that use this approach
print("We are taking", class_)

We are taking RTU Python

In [ ]:
# there are some other words that are not prohibited but are built in Python functions
# and best should be left alone
# i could redefine print as a regular variable such as print = 525235325 # not a good idea
# built in functions that CAN but should not be overwritten
# https://docs.python.org/3/library/functions.html#built-in-functions

# Built in Python functions

there are some other words that are not prohibited but are built in *Python* functions
and best should be left alone
i could redefine print as a regular variable such as print = 525235325 # not a good idea
built in functions that CAN but **should not** be overwritten

[Built in Python Functions](https://docs.python.org/3/library/functions.html#built-in-functions)

In [35]:
my_food = "carrots"
# my_other_food = myfood # this will be NameError: name 'myfood' is not defined

my_other_food = my_food # now both variables point to the same value "carrots"
# in Python I can reassign values
my_food = "potatoes" # without this line both my foods would point to "potatoes"
print("My favorite foods are", my_food, "and", my_other_food)

My favorite foods are potatoes and carrots

In [41]:
my_food = "oats"

In [38]:
my_other_food = "blueberries" #if I do not run the cell the values will not reassigned!

In [42]:


print("My favorite foods are", my_food, "and", my_other_food)

My favorite foods are oats and blueberries

In [44]:
type(my_food) # we can determine the data type
# str means string

str

In [45]:
type(5)

int

In [46]:
type("5")

str

In [47]:
a = 42
type(a)

int

In [48]:
a = "answer"
type(a)
# this means that in Python data types are dynamic - can be changed
# can be convenient
# also can lead to hard to catch bugs
# try to avoid changing data types in Python

str

In [49]:
type(my_name)

str

In [ ]:
# so not a variable
this_is_a_variable = 5.1637 # this gives us floating point (number with comma, )

## Data types in Python 3.x
* Integers type(42) int 
* Floating Point type(3.14) float
* Boolean type(True),type(False) bool
* String(ordered, **immutable** char sequence) type("OyCaramba") str
* List type([1,2,63,"aha","youcanmixtypeinsidelist", ["even","nest"]]) list
* Dictionary(key:value pairs) type({"foo":"bar", "favoriteday":"Friday"}) dict
* Tuple - ordered immutable sequence type("sup",7,"dwarves") tup
* Set (unordered collection of uniques) ("k","a","r","t","u","p","e","l","i","s")

In [51]:
a=42 # so automatically and dynamically Python assigns integer type to variable a
print(type(a), type(42))

<class 'int'> <class 'int'>

In [54]:
b=20
print(b, id(b)) # id means some memory location(virtual) the number itself is not significant

20 9793696

In [55]:
c=200
print(c, id(c))

200 9799456

In [56]:
# interestingly enough number from I believe -5 to 255 are preassigned in memory for Python for performance use
d=254
e=255
f=257
g=258
print(id(d), id(e),id(f), id(g))
# so up to 255 have early seats somewhere in memory
# in general in Python we do not control memory
# it is managed for us automatically
# in fact when we do not use some data anymore(we have no variables pointing at it)
# the memory is automatically freed - garbage collected

9801184 9801216 140188036628336 140188036628080

In [57]:
pi = 3.1415926
print(pi, type(pi)) # so floating point value

3.1415926 <class 'float'>

In [58]:
# Python does not have true constants
# convention says to use ALL_CAPS for your constant values
MY_PI = 3.1416
print(pi, MY_PI)

3.1415926 3.1416

In [60]:
# nothing prevents from changing that value ( just like that US 19th century congressman..)
MY_PI = 3
# and well your calculations will be quite off  :)
print(MY_PI)

3

In [61]:
# we can make the computer do the math for us!
result = 2+2
print(result)

4

In [62]:
res2 = 30/2 # so 30/2 gives you what data type?
# so / gives us floats
print(res2, type(res2))

15.0 <class 'float'>

In [64]:
whole_number = 30//2 # this gives you whole part
print(whole_number, type(whole_number))

15 <class 'int'>

In [65]:
7 / 2, 7 // 2

(3.5, 3)

In [66]:
# to get the reminder (remember your grade school)
# we use %
7 % 2 # will be 1

1

In [69]:
7%5 # so % gives you reminder, there is a tiny bit of difference modulo

2

In [70]:
7%2, 8%2, 9%2, 10%2, 11%2, 12%2 # so % 2 will let us determine if number is ?

(1, 0, 1, 0, 1, 0)

In [71]:
535264264624 % 10 # this will give us ?

4

In [ ]:
34344435%2

In [72]:
0.1+0.2 # floats are weird in pretty much ALL programming languages

0.30000000000000004

In [ ]:
# turns out floats have an international specification
# some numbers after comma are not representable by floats - they are just aproximations
# https://en.wikipedia.org/wiki/IEEE_754
# key takeaway do not trust floats completely

In [73]:
0 == 0.1+0.2-0.3

False

In [75]:
# so what to do with floats
# if you need some control over them
# simply use round
weird_num = 0.1+0.2
rounded_num = round(weird_num, 2)  # 2 here means 2 digits after comma
print(weird_num)
print(rounded_num)

0.30000000000000004
0.3

In [77]:
pi, round(pi, 4) # so here rounded to 4 digits after comma

(3.1415926, 3.1416)

In [78]:
2**3 # this is 2 to the power of 3 , so 2 cubed

8

In [79]:
81**0.5 # so square root

9.0

In [80]:
5**(-1) # should be one fifth as it is indeed

0.2

In [81]:
2**32 # this is significant number for computer hardware
# important limitation in older harware was 32 bit limit
# this explains it

4294967296

In [82]:
2**64 # so we moved to 64 bit systems
# plenty of space for addressing

18446744073709551616

In [83]:
2**3242 # python lets us use big numbers immediately, unlike most languages

8694526642668158675939383389473345623963157818716993537942169888940326772047361958748816623049234678032233658041460026169763104602866921826819334951005465192974916749259779145806091604938672667360593734392697918231223508087869326609682808263084677711181011036760097221745670271824913505540895552136511105753880255909795697573245840056893245892073179510979246748063169140826693842048522697848236664386778686091257869743551213031607158566152634422160633382844449416616137985858162143852572116256078026709971654347633079887927256057840945394779200140837974032770377298380287085928804364399515666335722139964720996252417725862747688816045795707126425054985473385611718903740603680894096224557790767660583867206363284303599670951703306753356037331121171160872997396189901122009729299944673787118617652487453199704020165385920212065750108221533531913490388774742622184300111424606314693026377099943672490756892821659675387618261437304036816209606802510169219679309647679934749999104

In [84]:
10**100 # Googol from https://en.wikipedia.org/wiki/Googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [86]:
c=b+a # = is assignment not equality!! equality is ==
print(a,b,c)

42 20 62

In [ ]:
d=b/a
print(d, type(d))

In [ ]:
e=b-a
print(e, type(e))

In [ ]:
f=b*e
f

In [ ]:
2**10

In [ ]:
2**32

In [ ]:
2**64

In [ ]:
result = 2**64
print(a)
print(result)

In [ ]:
42//20

In [ ]:
47//20

In [ ]:
47%20

In [ ]:
7%2

In [97]:
a = 10
print(a)

10

In [98]:
a = a + 5 # expression is evaluated right to left
# = is assignment!
print(a)

15

In [102]:
# adding something to itself is so common
# that there is a shorter way of writing it
a += 6 # this means a = a + 6
print(a)

39

## id(object)

Return the “identity” of an object. 

This is an integer which is guaranteed to be unique and constant for this object during its lifetime. 
Two objects with non-overlapping lifetimes may have the same id() value.

#### CPython implementation detail: This is the address of the object in memory.

In [ ]:
b+=22 # shortcut operator to add to existing value of a variable b = b + 22
# += /= -= *=
print(b)

In [ ]:
id(a),id(b),id(42),id(3),id(4),id(5),id(5000),id(5001),id(5002) # notice how ids are incremented!

In [ ]:
id(6)

In [ ]:
id(-1),id(0),id(1)

In [ ]:
id(7)
id(-6),id(-5),id(-4)

In [ ]:
a is b

In [ ]:
second_name = "Valdis"
name = "Valdis"
print(name, second_name)

In [ ]:
print(id(name), id(second_name))

## Floating Point

In [ ]:
4/5 + 2/3 + 1/7

In [ ]:
0.1+0.2+0.3-0.6
# More on floating point https://docs.python.org/2/tutorial/floatingpoint.html

## Strings
* immutable

In [103]:
name = "Valdis"
print(name)

Valdis

In [ ]:
# this is a comment meaning for us humans, not for computer :)

In [104]:
len(name) # length of string which name variable points to

6

In [105]:
len("name") # so "name" is just some text - string literal

4

# User input

We can use input function that asks user for input

Key points:
* input always returns str

In [113]:
# short program to ask for someone's name and then display it
# we use input to get input from user
# notebooks are not the best for asking for input but they do work
user_name = input("What is your name friend?")
print("Nice to meet you", user_name)
favorite_food = input("What is your favorite food?")
print(f"Nice I like {favorite_food} myself") # I am using f-strings for formatting here
quantity = input(f"How many kg of your favorite {favorite_food} you want to buy?")
price = input(f"How much are {favorite_food} in your store?")
print(f"Fantastic I will buy {quantity} kgs of {favorite_food} for you!")
# total_price = quantity * price # do you see a potential problem here?
# so we need to typecast first
# we could have done this immediately by wrapping input but we can also do it standalone
quantity = int(quantity) # this depends whether you expect your users to enter fractions of kg
price = float(price)
total_price = quantity * price
# one last fix lets use round to avoid the needless imprecision 15 digits after comma
total_price = round(total_price, 2)  # we want to to represent cents here
print(f"""Great news {name}!
  I went and purchased {quantity} kg of {favorite_food}.

  It only cost me €{total_price}. My treat! 😀 🥔 🍳

""") # triple quotes lets us make multi line string

What is your name friend?Valdis
Nice to meet you Valdis
What is your favorite food?potatoes
Nice I like potatoes myself
How many kg of your favorite potatoes you want to buy?4
How much are potatoes in your store?0.89
Fantastic I will buy 4 kgs of potatoes for you!
Great news Valdis!
  I went and purchased 4 of potatoes.

  It only cost me €3.56. My treat! 😀 🥔 🍳

In [111]:
# turns out we can multiple strings by numbers
# but we can not multiple strings by strings
# and input gives us strings only!
print("Beer " * 5) # notice I left a space before quotes ended

Beer Beer Beer Beer Beer

In [ ]:
# Type Casting

In [116]:
# we can convert any other type to str at any time
my_str = str(342525.34115)
print(my_str, type(my_str))

342525.34115 <class 'str'>

In [118]:
my_float = float(my_str)
print(my_float, type(my_float))

342525.34115 <class 'float'>

In [120]:
# my_int = int(my_str) # so non integers will throw ValueErrors on conversion
my_int = int(my_float)
print(my_int, type(my_int))

342525 <class 'int'>

In [121]:
float_again = float(my_int)
print(float_again, type(float_again)) # you do not get the floating point part back after conversion to int!

342525.0 <class 'float'>

### Slicing Notation
![Slice](https://i.stack.imgur.com/IVkET.jpg)
* hot linking can be dangerous if you are taking image where you are not supposed to somebody can put something rude on that image

In [ ]:
name, name[0] 
# notice index starts with 0! most programming languages start with 0

In [ ]:
name, name[5],name[-1],name[-2]

In [ ]:
name[0:3], name[:3] # so [:index] will go until that index from 0

In [ ]:
name[:4]

In [ ]:
name[1:4] # so I skip the 0 character

In [ ]:
name[-3]

In [ ]:
name[0:6:1] # this is actually the full syntax of slice

In [ ]:
name[::1]

In [ ]:
name, name[1:6:2]

In [ ]:
name, name[::2]

In [ ]:
# Python way of reversing a string
name, name[::-1]

In [ ]:
name_rev = name[::-1]
name_rev

In [ ]:
name[5:2:-1]

In [ ]:
# name[3]='b' 
# string are immutable you are not supposed to change strings

In [ ]:
#name[3]="b" # You can in fact make new strings
name=name[:3]+"D"+name[4:]
print(name)

In [ ]:
n2=name[:]
print(n2)
print(id(n2),id(name))
print(name[:])

In [ ]:
name = "Voldemars"
print(n,n2,name)

In [ ]:
n2 = "Something"

In [ ]:
name=name[::-1]
print(name)

In [ ]:
multi_string = """Really
Long
And
Boring
String"""
print(multi_string)

In [ ]:
t = "Talk " + 10 # Python is strongly typed so this will not work!
print(t)

In [ ]:
str(555)

In [ ]:
t = "Talk " + str(10) # Python is strongly typed so this will not work!
print(t)

In [ ]:
my_talk = f"Talk {a} {b} {c} {name} and so on" # f-strings
my_talk

In [ ]:
print(f"Hello there {name}! ")

In [ ]:
new_name = input("What is your name friend?") # input gives out str
print(f"Wow {new_name} that is a nice name!")

In [ ]:
new_num = input("Enter a number")
new_num = int(new_num) # we trust user is giving us number, we cast to number
print(new_num, type(new_num))

Enter a number777
777 <class 'int'>

In [ ]:
id('25'),id(25)

In [ ]:
int('345')

In [ ]:
?str

In [ ]:
# Automatic string concatenation without +
funny_string = ('Monty '
'Python ' 
'Spam '*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

In [ ]:
print("It's \ta \"wonderful\" \nlife")

In [ ]:
print('Really really long line\

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [ ]:
weekday="Tuesday"
month="June"
day=8
greeting = f'Today is {day}th of {month} which is {weekday}. Nice {month} isn\'t it ? '
print(greeting)
#nicer than format method

In [ ]:
seconds=345.24556
width=22 # how much space our formatted value should take up
precision=8 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{12}.{precision}} seconds since start of new era')
print(f'Elapsed {seconds:{7}.{5}} seconds since start of new era')
print(f'Number {5556.2222:{12}.{6}}')

In [ ]:
greeting[10:33:1]

### Python 3.X strings are Unicode by default no more 'u prefixes

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 3rd letter of your favorite
* Output first 2 letters of your favorite
* Output last 3 letters of your favorite
* Output reverse of your favorite
* Output every 2nd character of your favorite in reverse

In [ ]:
food = ""