# RCS W2D2 Strings

In [1]:
mystring = "Hello"
type(mystring)

str

In [2]:
myfriend = "Jānis"
mycat = "Ņauva"
print(myfriend,mycat)

Jānis Ņauva

## Strings
* immutable
* Unicode support


* implement all common sequence operators
https://docs.python.org/3/library/stdtypes.html#typesseq-common

* string specific methods
https://docs.python.org/3/library/stdtypes.html#string-methods

In [3]:
name = "Valdis"
print(name)

Valdis

In [4]:
len(name)

6

In [7]:
len("name")

4

In [6]:
len("Valdis")

6

In [8]:
name[0]

'V'

In [9]:
name[2]

'l'

In [10]:
name[5]

's'

In [11]:
#not a good pattern! anti-pattern
name[len(name)-1]

's'

In [12]:
name[-1]

's'

In [13]:
name[-2]

'i'

In [4]:
len(name)

6

In [ ]:
name[5],name[-1],name[-2]

In [ ]:
name[-1]

In [ ]:
name[-2]

In [14]:
name[-6]

'V'

In [16]:
name[222]

IndexError: string index out of range

In [17]:
empty = ""

In [18]:
empty[0]

IndexError: string index out of range

In [ ]:
name[77]

In [20]:
# Slicing syntax
# Start at 0 an go until but not including 3
name[0:3]

'Val'

In [21]:
name[:3]

'Val'

In [22]:
name[:4]

'Vald'

In [23]:
name[1:3]

'al'

In [24]:
name[1:4]

'ald'

In [25]:
name[-3]

'd'

In [27]:
name, name[0:6:1], name[::]

('Valdis', 'Valdis', 'Valdis')

In [28]:
name[0:6:2]

'Vli'

In [29]:
food = "kartupelis"
food[::2]

'kruei'

In [30]:
food[1::2]

'atpls'

In [31]:
name[::1]

'Valdis'

In [32]:
name[1:6:2]

'ads'

In [33]:
name[:5]

'Valdi'

In [ ]:
# Pythonic way of reersing a string

In [34]:
name[::-1]

'sidlaV'

In [35]:
food[::-1]

'sileputrak'

In [36]:
food[4::]

'upelis'

In [37]:
food[4::-1]

'utrak'

In [38]:
name[5:2:-1]

'sid'

In [39]:
name[3]='b'

TypeError: 'str' object does not support item assignment

In [40]:
#name[3]="b" # Vai tā drīkst?
newname=name[0:3]+"z"+name[4:]
print(newname)

Valzis

In [42]:
mycat = "kaķis" + " Muris"
mycat

'kaķis Muris'

In [43]:
len(mycat)

11

In [45]:
n=name
n2=name
print(n2)
print(id(n2),id(name))
print(name[:])

Valdis
2814171920904 2814171920904
Valdis

In [46]:
name = "Voldemars"
print(n,n2,name)

Valdis Valdis Voldemars

In [47]:
n2 = "Something"

In [48]:
name=name[::-1]
print(name)

sramedloV

In [49]:
newline_string ="firstline\nsecondline"
print(newline_string)

firstline
secondline

In [50]:
multi_string = """Really
Long
And
Boring
String"""
print(multi_string)

Really
Long
And
Boring
String

In [51]:
mytext = 'Just a quote'
mytext

'Just a quote'

In [52]:
myquote = 'They said "It was a long and stormy night" ending the story'
myquote

'They said "It was a long and stormy night" ending the story'

In [53]:
myquote = "Another quote\"Stormy night\" continuing the story"
myquote

'Another quote"Stormy night" continuing the story'

In [54]:
"Valdis" + 5

TypeError: can only concatenate str (not "int") to str

In [55]:
a=10
t="Talk "+str(a)
print(t)

Talk 10

In [56]:
t = "Talk "+"10"
print(t)

Talk 10

In [57]:
str(555)

'555'

In [58]:
id('25'),id(25)

(2814172811480, 140711459395136)

In [59]:
int('345')

345

In [62]:
int("70")

70

In [ ]:
int('70')

In [ ]:
?str

In [64]:
daudzalus = "Alus"*5
daudzalus

'AlusAlusAlusAlusAlus'

In [65]:
# Automatic string concatenation without +
funny_string = ('Monty '
'Python ' 
'Spam '*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam

In [66]:
print("It's \ta \"wonderful\" \nlife")

It's 	a "wonderful"
life

In [68]:
# How to print a line which does not fit in a single line
print('Really really long line\
   mVW')

Really really long line   mVW

In [69]:
print('Alice said "hello"')

Alice said "hello"

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [76]:
newstr = f"2+2={2+2} nice isn't {name[::-1]*3}"
newstr

"2+2=4 nice isn't VoldemarsVoldemarsVoldemars"

In [70]:
weekday="Tuesday"
month="May"
day=14
greeting = f"Today is {day}th of {month} which is {weekday}. Nice {month} isn't it ? "
print(greeting)
#nicer than format method

Today is 14th of May which is Tuesday. Nice May isn't it ?

In [78]:
seconds=345.24556
width=32 # how much space our formatted value should take up
precision=4 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{width}.{precision}} seconds since start of new era')
print(f'Elapsed {seconds:{9}.{6}} seconds since start of new era')
print(f'Number {5556.2222:{12}.{6}}')

Elapsed 345.24556 seconds since start of new era
Elapsed                            345.2 seconds since start of new era
Elapsed   345.246 seconds since start of new era
Number      5556.22

In [82]:
myresult = f"0.1+0.2={0.1+0.2:{4}.{4}}"
myresult

'0.1+0.2= 0.3'

In [83]:
greeting[10:33:1]

'4th of May which is Tue'

### Python 3.X strings are Unicode by default no more 'u prefixes

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 3rd letter of your favorite
* Output first 2 letters of your favorite
* Output last 3 letters of your favorite
* Output reverse of your favorite
* Output every 2nd character of your favorite in reverse

In [84]:
myfood = "putra"

In [87]:
myfood

'putra'

In [88]:
myfood[2]

't'

In [89]:
myfood[:2]

'pu'

In [90]:
myfood[-3:]

'tra'

In [91]:
myfood[::-1]

'artup'

In [92]:
myfood[::-2]

'atp'

In [94]:
bigfood = myfood.capitalize()
bigfood

'Putra'

In [ ]:
myfood.capitalize()

In [95]:
# count the number of occurences in a string
myfood.count('a')

1

In [96]:
myfood.count('d')

0

In [97]:
'u' in myfood

True

In [98]:
'C' in myfood

False

In [100]:
# we can check for substring in our string
'put' in myfood

True

In [101]:
# we can check for substring in our string
'put' in bigfood

False

In [102]:
'somethinglongthatisnot' in myfood

False

In [103]:
# find first index of where the substring starts in our string
# remember we count from 0!
myfood.index('ut')

1

In [105]:
myfood[myfood.index('ut'):]

'utra'

In [106]:
myfood.upper()

'PUTRA'

In [ ]:
name[0:6:1]

In [ ]:
name.lower()

In [107]:
name.isdecimal()

False

In [108]:
"55555".isdecimal()

True

In [ ]:
# ourstring. then use Tab to see what functions/methods are available
# methods/functions use parenthesis "Valdis".upper()

In [110]:
'a' in str(66666)

False

In [111]:
'6' in str(66666)

True