# RTU Lists
## Useful Jupyter Commands

## Python Lists

* Ordered
* Mutable(can change individual members!)
* Dynamic size - can change the size of the list itself
* Comma separated between brackets [1,3,2,5,6,2]
* Can have duplicates
* Can be nested

In [1]:
groceries=['Bread','Eggs','Milk']
print(groceries)

['Bread', 'Eggs', 'Milk']

In [2]:
type(groceries)

list

In [3]:
emptylist = []
len(emptylist)

0

In [4]:
len(groceries)

3

In [5]:
# checking for existance
'Bread' in groceries

True

In [6]:
food = "My breadsticks"
"bread" in food

True

In [7]:
"read" in groceries # so when checking for existance in a list it has to an exact match, so we will need a loop to find inexact matches

False

In [8]:
'Apples'  in groceries

False

In [9]:
# we can call a list conversion a a string (or other sequence types)
name_list = list("Valdis")
print(name_list)

['V', 'a', 'l', 'd', 'i', 's']

In [10]:
print(list(food))

['M', 'y', ' ', 'b', 'r', 'e', 'a', 'd', 's', 't', 'i', 'c', 'k', 's']

In [11]:
list(5) # this will be an error why? because 5 is not an iterable sequence

TypeError: ignored

In [12]:
single_item_list = [5]
single_item_list

[5]

In [13]:
list("V") # so we get a list with single item - string with one character

['V']

In [14]:
name_list

['V', 'a', 'l', 'd', 'i', 's']

In [15]:
name_list[3] # index starts with 0 just like with strings

'd'

In [16]:
name_list[3]='b' # unlike strings we can mutate contents of list
print(name_list)

['V', 'a', 'l', 'b', 'i', 's']

In [17]:
# this will not work as expected
str(name_list)  # this creates a literal string out of how list looks when printed, not very useful

"['V', 'a', 'l', 'b', 'i', 's']"

In [18]:
# We can join the list back into a string 
# by using an empty string and joining our list
"".join(name_list)

'Valbis'

In [20]:
":|:".join(name_list)  #you can use any string for joining, there is a requirement that list itself contains strings

'V:|:a:|:l:|:b:|:i:|:s'

In [21]:
numbers = list(range(12)) # so this will have numbers from 0 to 11
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [22]:
numbers[:3] # first three

[0, 1, 2]

In [23]:
numbers[-3:] # last three

[9, 10, 11]

In [24]:
numbers[5:7]  # so item with index 7 (8th item) is NOT included

[5, 6]

In [25]:
reversed_numbers = numbers[::-1]
reversed_numbers

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [26]:
numbers[::2] # will be every second number starting with 0

[0, 2, 4, 6, 8, 10]

In [27]:
numbers[1::2] # so start with 2nd number with index 1 - in this this is 1 actually

[1, 3, 5, 7, 9, 11]

In [28]:
# if we have numerics (ints, floats, also booleans)in our list we can use some built in functions sum,min,max
sum(numbers)

66

In [29]:
avg = sum(numbers) / len(numbers)  
avg

5.5

In [30]:
min(numbers)

0

In [31]:
max(numbers)

11

In [ ]:
# lists are compound data structures, meaning they are built from other elements
# so they are not always copied in order to save space among other reasons

In [32]:
# here I create a copy of a lista
list_copy=list(groceries)
print(list_copy, id(list_copy), id(groceries))

['Bread', 'Eggs', 'Milk'] 140546254406112 140546410332320

In [33]:
# here I just point another variable at the SAME list, just a reference/shortcut
glist2=groceries
print(id(glist2),id(groceries),id(list_copy))

140546410332320 140546410332320 140546254406112

In [34]:
groceries[2] = "Chocolate"  # so the original list will change any any references to this original list
groceries, glist2, list_copy

(['Bread', 'Eggs', 'Chocolate'],
 ['Bread', 'Eggs', 'Chocolate'],
 ['Bread', 'Eggs', 'Milk'])

In [35]:
glist2[1] = "Beer"
groceries, glist2, list_copy

(['Bread', 'Beer', 'Chocolate'],
 ['Bread', 'Beer', 'Chocolate'],
 ['Bread', 'Eggs', 'Milk'])

In [36]:
list_copy[0] = "Potatoes"
groceries, glist2, list_copy

(['Bread', 'Beer', 'Chocolate'],
 ['Bread', 'Beer', 'Chocolate'],
 ['Potatoes', 'Eggs', 'Milk'])

In [37]:
list_copy == groceries # this check for contents not the actualy memory

False

In [38]:
groceries is glist2 # so we check the id of each variable and see if they are pointing to same memory address

True

In [ ]:
list_3 = ['Potatoes', 'Eggs', 'Milk']
list_3 == list_copy, list_3 is list_copy

(True, False)

In [ ]:
id(list_copy), id(list_3) # different memory addresses

(2346169306112, 2346168541120)

In [ ]:
groceries

['Bread', 'Milk', 'Chocolate']

In [41]:
glist = list_copy # so I created a new alias for my list_copy
glist is list_copy  # so glist points at the same memory stucture as does list_copy, think of it as a shortcut

True

In [42]:
glist

['Potatoes', 'Eggs', 'Milk']

In [50]:
# We can add new elements with append
glist.append('Peaches') # IN PLACE addition of element
# IN PLACE means the collection is changed (generally NOT returned), I am mutating the original list in this case called glist
glist

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [51]:
groceries

['Bread', 'Beer', 'Chocolate']

In [52]:
list_copy

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [53]:
# we cut down our list using slicing syntax
glist = glist[:4] # remember our slicing syntax from last week
# i am saying I want my list to only contain first four items of this list
glist

['Potatoes', 'Eggs', 'Milk', 'Peaches']

In [54]:
groceries

['Bread', 'Beer', 'Chocolate']

In [55]:
list_copy

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [ ]:
# Python will manage memory for you and will clean up if you have no references to the list (just like with other data)

In [ ]:
glist == groceries

In [57]:
# new clear list
glist = []
glist

[]

In [ ]:
list_copy

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [58]:
len(glist)

0

In [59]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [60]:
dir(glist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [61]:
glist

['Bread', 'Milk', 'Cookies', 'Chocolate']

In [62]:
glist.clear()  # again IN PLACE operation meaning modifies the contents wherever the variable points at
glist

[]

In [63]:
glist.append("Tea") # append is for single items
glist

['Tea']

In [64]:
glist.extend(["Milk","Cookies","Chocolate"])  #again IN PLACE modifiyin the list
glist

['Tea', 'Milk', 'Cookies', 'Chocolate']

In [65]:
glist.append(["Beer", "Cognac"])  # careful when appending another list to a list, it might not be what you want
glist

['Tea', 'Milk', 'Cookies', 'Chocolate', ['Beer', 'Cognac']]

In [66]:
# so we have a list inside our list

In [67]:
# how to get Beer out of it?

In [68]:
glist[-1]

['Beer', 'Cognac']

In [70]:
glist[-1][0]  # so I got last item from the outer list then I get the first item of this inner (nested) list

'Beer'

In [71]:
print(len(glist))
glist.clear() # IN PLACE again! so list is cleared
print(len(glist))

5
0

In [72]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [79]:
# In Place reversal
glist.reverse()  # this is IN PLACE
print(glist)

['Chocolate', 'Cookies', 'Milk', 'Bread']

In [80]:
# save the new reversed list in variable reversedlist
reversedlist = glist[::-1] # we can store result in new list, but keep the old one this is OUT OF PLACE meaning we need new variable to store
reversedlist

['Bread', 'Milk', 'Cookies', 'Chocolate']

In [81]:
glist, reversedlist

(['Chocolate', 'Cookies', 'Milk', 'Bread'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [ ]:
glist = reversedlist[::-1]
glist, reversedlist

(['Chocolate', 'Cookies', 'Milk', 'Bread'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [ ]:
glist = glist[::-1]
glist, reversedlist

(['Bread', 'Milk', 'Cookies', 'Chocolate'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [84]:
glist += ["Tea"]  # so this is like glist = glist = ["Tea"] so similar to append but it is OUT OF PLACE since we are overwriting our list
glist

['Chocolate', 'Cookies', 'Milk', 'Bread', 'Tea', 'Tea']

In [85]:
glist

['Chocolate', 'Cookies', 'Milk', 'Bread', 'Tea', 'Tea']

In [86]:
last_item = glist[-1]  # this keeps the list intact
last_item

'Tea'

In [87]:
glist

['Chocolate', 'Cookies', 'Milk', 'Bread', 'Tea', 'Tea']

In [90]:
# glist= ["Bread", "Milk", "Cookies", "Chocolate"]
lastelem = glist.pop() # IN PLACE removal of LAST element, and return of this last element
print(lastelem)
print(glist)

Bread
['Chocolate', 'Cookies', 'Milk']

In [ ]:
# make a blank list
newlist = []

In [ ]:
nlist = [1,2,3,4,5,6] #this can get boring fast...
nlist

In [91]:
f20 = list(range(20)) # remember range starts at 0 and goes to n-1
f20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [92]:
f20 = list(range(1,21))
f20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
x = list(range(0,51,3))
print(x)
# Python 3.x range is an improved Python 2.x xrange!

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [93]:
# Lists can take any number of data types
mylist = [1,2,5, "Valdis", ["Bread", "milk", 3, 6, 2.77, [3, "wo'w"]], ["anotherlist", 2,3], "just sometext"]
mylist

[1,
 2,
 5,
 'Valdis',
 ['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]],
 ['anotherlist', 2, 3],
 'just sometext']

# Looping through lists

In [94]:
for item in glist:
    print(item)

Chocolate
Cookies
Milk

In [95]:
# less frequently we might need an index then we use enumarate
for index,item in enumerate(glist):
    print(index, item)
    print(f"Item no. {index} is {item}")

0 Chocolate
Item no. 0 is Chocolate
1 Cookies
Item no. 1 is Cookies
2 Milk
Item no. 2 is Milk

In [96]:
# let's go through our numbers list and create squares of this list
squares = []  # so we start with a new blank list
for n in numbers:
    print(f"Squaring {n}")
    squares.append(n**2)  # or n*n # and we keep adding for each number in our original numbers list we create a square
print("My squares are", squares)

Squaring 0
Squaring 1
Squaring 2
Squaring 3
Squaring 4
Squaring 5
Squaring 6
Squaring 7
Squaring 8
Squaring 9
Squaring 10
Squaring 11
My squares are [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

# List Comprehension Example

In [97]:
# so for our squares often we need to take an existing sequence(here it is a list) and do something with it
# there is a shorter syntax for such operations
square_list = [n**2 for n in numbers] # same idea as above for loop
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [ ]:
# list comprehensions are for shorter calculations with minimum of logic
# use regular for loops for more complex cases

In [98]:
even_squares = [n**2 for n in numbers if n%2 == 0] # we only takes squares of even numbers
even_squares

[0, 4, 16, 36, 64, 100]

In [99]:
even_squares_2 = []
for n in numbers:
    if n%2 == 0:
        even_squares_2.append(n**2)
# same code as list comprehension but more writing
even_squares_2

[0, 4, 16, 36, 64, 100]

In [ ]:
innerlist = mylist[4]
innerlist

['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]]

In [ ]:
inner_inner_list = innerlist[5]
inner_inner_list

[3, "wo'w"]

In [ ]:
i_list = innerlist[-1]
i_list

[3, "wo'w"]

In [ ]:
last_list  = i_list[-1] # here list3[1] would work as well
last_list

"wo'w"

In [ ]:
my_letter = last_list[1]
my_letter

'o'

In [ ]:
mylist[4][-1][-1][1]

'o'

In [ ]:
mylist[4][5][1][1], mylist[4][5][1][-3]

('o', 'o')

In [ ]:
len(mylist)

In [ ]:
x=list(range(1,11))
x

In [ ]:
glist

['Bread', 'Milk', 'Cookies']

In [100]:
# adding more items by making new list
glist += ["Pasta", "Cereal", "Water"] # it is same as saying glist = glist + ["Pasta", "Cereal", "Water"]
# so += is out of place , unlike mylist.append() method
glist

['Chocolate', 'Cookies', 'Milk', 'Pasta', 'Cereal', 'Water']

In [101]:
glist.append(["Booze", "Candy"])
glist

['Chocolate',
 'Cookies',
 'Milk',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy']]

In [102]:
glist.extend(["Beer", "Chips"]) # so extend works similarl to += it flattens the new items
glist

['Chocolate',
 'Cookies',
 'Milk',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [103]:
glist[-3]

['Booze', 'Candy']

In [105]:
glist[-3][-1], glist[-3][1] # same thing

('Candy', 'Candy')

In [107]:
glist.count("Pasta")  # count need exact match

1

In [108]:
glist.index("Paste")

ValueError: ignored

In [109]:
glist.index("Pasta")

3

In [ ]:
glist

['Bread',
 'Milk',
 'Cookies',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [110]:
glist[3]

'Pasta'

In [111]:
glist.insert(4, "Tomato Sauce") # so it will insert before 5th element (with index 4)
glist

['Chocolate',
 'Cookies',
 'Milk',
 'Pasta',
 'Tomato Sauce',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [ ]:
glist[4]

'Tomato Sauce'

In [112]:
# for large lists insert might not be very fast because you have to shift the elements around

In [113]:
glist.remove("No idea what to remove")

ValueError: ignored

In [114]:
glist.remove("Tomato Sauce") # we got rid of first tomatoe sauce occurence
glist

['Chocolate',
 'Cookies',
 'Milk',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [115]:
# You can only sort list that have same data types or types that can be compared like int and float
glist.sort() # this is in place and will be numeric, or lexicographical sort
glist

TypeError: ignored

In [116]:
glist.remove(['Booze', 'Candy'])
glist

['Cereal', 'Chocolate', 'Cookies', 'Milk', 'Pasta', 'Water', 'Beer', 'Chips']

In [117]:
glist.sort()  # in place for strings it is lexicographic
glist

['Beer', 'Cereal', 'Chips', 'Chocolate', 'Cookies', 'Milk', 'Pasta', 'Water']

In [118]:
glist_copy = sorted(glist) # this is OUT OF PLACE sort meaning we need to store somewhere
glist_copy

['Beer', 'Cereal', 'Chips', 'Chocolate', 'Cookies', 'Milk', 'Pasta', 'Water']

In [ ]:
glist = glist[:7]
glist

['Bread', 'Cereal', 'Cookies', 'Milk', 'Pasta', 'Tomato Sauce', 'Water']

In [ ]:
glist.append("Olive Oil")
glist

['Bread',
 'Cereal',
 'Cookies',
 'Milk',
 'Pasta',
 'Tomato Sauce',
 'Water',
 'Olive Oil']

In [ ]:
glist.sort()
glist

['Bread',
 'Cereal',
 'Cookies',
 'Milk',
 'Olive Oil',
 'Pasta',
 'Tomato Sauce',
 'Water']

In [119]:
glist.sort(reverse = True) # again sort is in place
glist

['Water', 'Pasta', 'Milk', 'Cookies', 'Chocolate', 'Chips', 'Cereal', 'Beer']

In [ ]:
new_list = sorted(glist) # so sorted is out of place, returns new sorted something
new_list

['Bread',
 'Cereal',
 'Cookies',
 'Milk',
 'Olive Oil',
 'Pasta',
 'Tomato Sauce',
 'Water']

In [ ]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [ ]:
# Mini exercise
# give me a list of squares of names from 1 to 10 [1,4,9....,100]
results = []
# write a for loop and append something to results
for n in range(1,11):
    results.append(n**2)
print(results)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [120]:
import random

In [123]:
dice_throws = [random.randint(1,6) for _ in range(30)]  # randint is a rare case where both sides are INCLUSIVE, usually the last number is not included
# we are using _ to signify that we do not care for the actual iterator, index in this case we just want to do something
dice_throws

[2,
 1,
 2,
 4,
 4,
 1,
 2,
 4,
 6,
 4,
 4,
 1,
 4,
 6,
 5,
 2,
 3,
 3,
 4,
 4,
 2,
 2,
 5,
 2,
 4,
 4,
 5,
 2,
 5,
 5]

In [124]:
sum(dice_throws), min(dice_throws), max(dice_throws), sum(dice_throws) / len(dice_throws)

(102, 1, 6, 3.4)

In [128]:
dice_total = sum(dice_throws)

In [125]:
few_randoms = [random.randint(-500,500) for _ in range(10)]
few_randoms

[-193, 163, -297, 409, 468, 11, -37, -255, 101, -400]

In [126]:
sorted_randoms = sorted(few_randoms) # OUT OF PLACE, keep original intact
few_randoms, sorted_randoms

([-193, 163, -297, 409, 468, 11, -37, -255, 101, -400],
 [-400, -297, -255, -193, -37, 11, 101, 163, 409, 468])

In [127]:
few_randoms.sort() # IN PLACE changing the order of original
few_randoms, sorted_randoms

([-400, -297, -255, -193, -37, 11, 101, 163, 409, 468],
 [-400, -297, -255, -193, -37, 11, 101, 163, 409, 468])

In [129]:
x = list(range(1,11))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [130]:
y = [n*n for n in range(1,11)]
print(y)
# List comprehensions! A shorter way to do the above list creations 
# Pythonism! We'll talk about those again!

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sum(x),sum(y)

(55, 385)

In [ ]:
len(x),len(y)

(10, 10)

In [ ]:
min(x), min(y)

(1, 1)

In [ ]:
max(x), max(y)

(10, 100)

In [ ]:
y

In [131]:
x+y  # i am not saving this new list anywhere

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
z=(x+y)*3 # so we create a list of (10+10 )* 3 elements

In [133]:
z

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100]

In [134]:
len(z)

60

In [ ]:
z

In [ ]:
tmp = y*2
print(tmp)

In [136]:
# so * lists can be useful if you want to initialize a list with 0s
my_counters = [0]*10
my_counters

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [138]:
my_counters[5] += 1
my_counters

[0, 0, 0, 0, 0, 2, 0, 0, 0, 0]

In [ ]:
len(tmp)

In [ ]:
tmp[3:18:3]

In [ ]:
25 in tmp

In [ ]:
66 in tmp

In [ ]:
"Valdis" in tmp

In [ ]:
tmp[::-1]

In [ ]:
tmp[3:98:2]

In [ ]:
len(y)

In [ ]:
dir(tmp)

In [ ]:
y

In [ ]:
y.insert(0, 33)
y

In [ ]:
# inserting before 7th element
y.insert(6, 33)
y

In [ ]:
55 in y

In [ ]:
33 in y

In [ ]:
y

In [ ]:
y.index(16)

In [ ]:
y[4]

In [ ]:
y.index(33), y[0]

In [ ]:
# y.remove(33)
y.remove(33)
y

In [ ]:
a = 5
a = a + 10
a

In [ ]:
a += 10 # same as a = a + 10
a

In [ ]:
y+=[11, -22, 66] # same as y = y + [11, -22, 66]
y

In [ ]:
y.append([11, -22, 66])
y

In [ ]:
y = y[:-3]
y

In [ ]:
newlist = sorted(y) # returns a new sorted list , keeps old list unchanged!
newlist

In [ ]:
y

In [ ]:
y.sort()
y

In [ ]:
y.reverse()
y

In [ ]:
x=y[::-1]
x

In [ ]:
x[5]

In [ ]:
z=x.pop(5)
print(x, z)

In [ ]:
x.insert(5, z)
x

In [ ]:
x.count(33)

 ## Common list methods.

* `list.append(elem)` -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
* `list.insert(index, elem)` -- inserts the element at the given index, shifting elements to the right.
* `list.extend(list2)` adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
* `list.index(elem)` -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
* `list.remove(elem)` -- searches for the first instance of the given element and removes it (throws ValueError if not present)
* `list.sort()` -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
* `list.reverse()` -- reverses the list in place (does not return it)
* `list.pop(index)`-- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [139]:
mixed_list = [1, False, 3.1415926, -1, 0, True, 9000, -343]
mixed_list

[1, False, 3.1415926, -1, 0, True, 9000, -343]

In [141]:
sorted(mixed_list)  # so here we can see that False has the same value as 0 and True has the same value as 1 for sorting purposes

[-343, -1, False, 0, 1, True, 3.1415926, 9000]

In [142]:
mixed_list

[1, False, 3.1415926, -1, 0, True, 9000, -343]

In [143]:
mixed_list.sort() # this will change list IN PLACE
mixed_list

[-343, -1, False, 0, 1, True, 3.1415926, 9000]

In [ ]:
list(range(55,59))

In [ ]:
tmp

In [ ]:
tmp.count(64)
# We count occurences!

In [ ]:
tmp.count('Valdis')

In [ ]:
print(tmp.index(64))
tmp[7]

In [ ]:
?tmp.index

In [ ]:
tmp.index()

In [ ]:
len(x)

In [ ]:
[] is []

In [ ]:
[] == []

## List exercise
* create list of number 5 to 15 (included) and assign to a variable
* output first 4 numbers
* output last 3 numbers
* output last 3 numbers in reversed order
* extra credit output average!

In [ ]:
mylist = list(range(5,16))
mylist

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
mylist[:4]

[5, 6, 7, 8]

In [ ]:
mylist[-3:]

[13, 14, 15]

In [ ]:
mylist[-1:-4:-1]

[15, 14, 13]

In [ ]:
sum(mylist)/len(mylist) # arithmetic average

10.0

In [ ]:
groceries

['Bread', 'Milk', 'Chocolate']

In [ ]:
groceries += ["Brown Bread", "Chococolate Bread", "Rye Bread"]
groceries

['Bread', 'Milk', 'Chocolate', 'Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [ ]:
groceries = groceries[1:] # get rid of the 1st element
groceries

['Milk', 'Chocolate', 'Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [ ]:
"Bread" in groceries

False

In [ ]:
found_list = []
key = "Bread"
for item in groceries:
    if "Bread" in item:
        found_list.append(item)
found_list

['Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [ ]:
found_list = []
key = "ilk"
for item in groceries:
    if key in item:
        found_list.append(item)
found_list

['Milk']

In [ ]:
groceries.append("Silken herring") # I dont think there is such a herring ...

In [ ]:
groceries

['Milk',
 'Chocolate',
 'Brown Bread',
 'Chococolate Bread',
 'Rye Bread',
 'Silken herring']

In [ ]:
found_list = []
key = "ilk"
for item in groceries:
    if key in item:
        found_list.append(item)
found_list

['Milk', 'Silken herring']

In [ ]:
# Tuples

# Tuples
https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [144]:
my_tuple = 3, 6, "Anything"
my_tuple

(3, 6, 'Anything')

In [145]:
type(my_tuple)

tuple

In [146]:
# Tuples are more efficient as long as you do not need to change them(then we need lists)
# tuples are often used for passing different values around

In [147]:
number_tuples = tuple(range(5,18))  # notice the round regular parenthesis (not square brackets used by list!)
number_tuples

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)

In [148]:
sum(number_tuples), min(number_tuples), max(number_tuples)

(143, 5, 17)

In [152]:
a = 5
b = 9
mini_tuple = a, b # we pack values inside our tuple
mini_tuple

(5, 9)

In [151]:
number_tuples[3:6]  #i get another tuple, so I can slice and dice the tuples, just rememer that to save results I need to create new tuples

(8, 9, 10)

In [153]:
# i can also unpack a tuple
c, d = mini_tuple # so unpacking I do need to pay attention to size of tuple 
print(c, d)

5 9

In [154]:
# combining packing and unpacking we can use it to exchange values
print(a, b)
a, b = b, a # without this trick we would need a 3rd temporary variable
print(a, b)

5 9
9 5

In [155]:
# Lists are for storing homogenous items (same data type) so list of strings, list of ints, etc
# Tuples are for storing heterogenous items (different data types) just whatever
# this is not strictly enforced but just a suggestion
# https://stackoverflow.com/questions/626759/whats-the-difference-between-lists-and-tuples more on this issue

In [156]:
# One last thing on tuples, the values inside can be mutated but not changed
my_tuple = (5, "Valdis", [1,2,3], (5,6,7)) 
my_tuple

(5, 'Valdis', [1, 2, 3], (5, 6, 7))

In [157]:
# i can not change what I am storing in a tuple
my_tuple[1]

'Valdis'

In [158]:
# my_tuple[1] = "Voldemars" # not allowed

TypeError: ignored

In [160]:
# turns out we can mutate the list inside the tuple no problem
my_tuple[2], type(my_tuple[2])

([1, 2, 3], list)

In [161]:
my_tuple[2] = [1,6,2,6,7,9]  # not allowed! OUT OF PLACE

TypeError: ignored

In [162]:
my_tuple[2].append(9000)
my_tuple

(5, 'Valdis', [1, 2, 3, 9000], (5, 6, 7))

In [164]:
my_tuple[2].extend([-6,3.14])  # again IN PLACE methods work on mutable objects inside tuple
my_tuple

(5, 'Valdis', [1, 2, 3, 9000, -6, 3.14], (5, 6, 7))

In [165]:
my_tuple[2].clear() # i can clear the list inside the tuple but it remains the same list(object) that we started with
my_tuple

(5, 'Valdis', [], (5, 6, 7))