# Variables, Arithmetic and Data Types

## Text Cells are for writing text

You can write lists like this list of topics:
* Variables
* Arithmetic
* Data types

![Python](https://www.python.org/static/community_logos/python-logo.png)

Links such as this 
[Github guide to Markdown](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax)

In [1]:
print("Hello Variables!")

Hello Variables!

In [2]:
!dir

sample_data

In [3]:
!dir sample_data

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [4]:
# This is a comment - meant for humans, computers ignore anything after #
print("This is printing")
# print("This is not printing")

This is printing

In [9]:
# see if you can make an error - debugging errors is an important skill
print("somehing")

somehing

In [10]:
my_name = "Valdis" # in Python we need no special keyword for variables
# in effect I am binding my_name to string literal "Valdis" - for the time being

In [17]:
print("So my current name is", my_name) # by default , will give us single space separation for print

So my current name is Valdis

In [14]:
myname = "Val" # this is a different variable!

In [16]:
print("My name is", myname)

My name is Val

In [ ]:
# Generally you should run cells in order because easier to reason about

In [ ]:
# variable names should generally start with lowercase letter 
# and can contain letters, numbers and underscores like some_Var_5324 - not a good name but legal
# so typically multiple words in variable are connected with _

In [18]:
my_var = 6
print(my_var) # snake syntax meaning _ syntax
myVar = 50 # camelCase syntax common in Javascript other programming
# camelCase syntax is generally less used or avoided in Python
print(myVar) 
# Recommendation is to keep one style for one project, one notebook

6
50

In [20]:
my_NAME = "Saules"
print(my_NAME) # Case sensitive so different from my_name
# generally you want to use lowercase

Saules

In [ ]:

The following identifiers are used as reserved words, or keywords of the language, and cannot be used as ordinary identifiers. They must be spelled exactly as written here:

False      class      finally    is         return
None       continue   for        lambda     try
True       def        from       nonlocal   while
and        del        global     not        with
as         elif       if         or         yield
assert     else       import     pass
break      except     in         raise

In [27]:
# class = "RTU" # not legal
class_ = "RTU Python" # legal with underscore
# one workaround if you really need the class as a variable name for some reason
# add underscore, I've seen libraries(tools) that use this approach
print("We are taking", class_)

We are taking RTU Python

In [ ]:
# there are some other words that are not prohibited but are built in Python functions
# and best should be left alone
# i could redefine print as a regular variable such as print = 525235325 # not a good idea
# built in functions that CAN but should not be overwritten
# https://docs.python.org/3/library/functions.html#built-in-functions

# Built in Python functions

there are some other words that are not prohibited but are built in *Python* functions
and best should be left alone
i could redefine print as a regular variable such as print = 525235325 # not a good idea
built in functions that CAN but **should not** be overwritten

[Built in Python Functions](https://docs.python.org/3/library/functions.html#built-in-functions)

In [35]:
my_food = "carrots"
# my_other_food = myfood # this will be NameError: name 'myfood' is not defined

my_other_food = my_food # now both variables point to the same value "carrots"
# in Python I can reassign values
my_food = "potatoes" # without this line both my foods would point to "potatoes"
print("My favorite foods are", my_food, "and", my_other_food)

My favorite foods are potatoes and carrots

In [41]:
my_food = "oats"

In [38]:
my_other_food = "blueberries" #if I do not run the cell the values will not reassigned!

In [42]:


print("My favorite foods are", my_food, "and", my_other_food)

My favorite foods are oats and blueberries

In [44]:
type(my_food) # we can determine the data type
# str means string

str

In [45]:
type(5)

int

In [46]:
type("5")

str

In [47]:
a = 42
type(a)

int

In [48]:
a = "answer"
type(a)
# this means that in Python data types are dynamic - can be changed
# can be convenient
# also can lead to hard to catch bugs
# try to avoid changing data types in Python

str

In [49]:
type(my_name)

str

In [ ]:
# so not a variable
this_is_a_variable = 5.1637 # this gives us floating point (number with comma, )

## Data types in Python 3.x
* Integers type(42) int 
* Floating Point type(3.14) float
* Boolean type(True),type(False) bool
* String(ordered, **immutable** char sequence) type("OyCaramba") str
* List type([1,2,63,"aha","youcanmixtypeinsidelist", ["even","nest"]]) list
* Dictionary(key:value pairs) type({"foo":"bar", "favoriteday":"Friday"}) dict
* Tuple - ordered immutable sequence type("sup",7,"dwarves") tup
* Set (unordered collection of uniques) ("k","a","r","t","u","p","e","l","i","s")

In [ ]:
a=42
print(type(a), type(42))

In [ ]:
b=20
print(b, id(b)) # id means some memory location(virtual)

In [ ]:
c=200
print(c, id(c))

In [ ]:
pi = 3.1415926
print(pi, type(pi))

In [ ]:
result = 2+2
print(result)

In [ ]:
res2 = 30/2 # so 30/2 gives you what data type?
print(res2, type(res2))

In [ ]:
30//2 # this gives you whole part

In [ ]:
7 / 2, 7 // 2

In [ ]:
7%5 # so % gives you reminder, there is a tiny bit of difference modulo

In [ ]:
7%2, 8%2, 9%2, 10%2, 11%2, 12%2 # so % 2 will let us determine if number is ?

In [ ]:
535264264624 % 10 # this will give us ?

In [ ]:
34344435%2

In [ ]:
0.1+0.2 # floats are weird

In [ ]:
0 == 0.1+0.2-0.3

In [ ]:
2**3 # this is 2 to the power of 3 , so 2 cubed

In [ ]:
81**0.5 # so square root

In [ ]:
2**32 # this is significant number for computer hardware

In [ ]:
2**64

In [ ]:
2**3242 # python lets us use big numbers immediately

In [ ]:
10**100 # Googol

In [ ]:
c=b+a

In [ ]:
d=b/a
print(d, type(d))

In [ ]:
e=b-a
print(e, type(e))

In [ ]:
f=b*e
f

In [ ]:
2**10

In [ ]:
2**32

In [ ]:
2**64

In [ ]:
result = 2**64
print(a)
print(result)

In [ ]:
42//20

In [ ]:
47//20

In [ ]:
47%20

In [ ]:
7%2

In [ ]:
a = 10
print(a)

In [ ]:
a = a + 5 # expression is evaluated right to left
print(a)

In [ ]:
a += 6 # this means a = a + 6
print(a)

## id(object)

Return the “identity” of an object. 

This is an integer which is guaranteed to be unique and constant for this object during its lifetime. 
Two objects with non-overlapping lifetimes may have the same id() value.

#### CPython implementation detail: This is the address of the object in memory.

In [ ]:
b+=22 # shortcut operator to add to existing value of a variable b = b + 22
# += /= -= *=
print(b)

In [ ]:
id(a),id(b),id(42),id(3),id(4),id(5),id(5000),id(5001),id(5002) # notice how ids are incremented!

In [ ]:
id(6)

In [ ]:
id(-1),id(0),id(1)

In [ ]:
id(7)
id(-6),id(-5),id(-4)

In [ ]:
a is b

In [ ]:
second_name = "Valdis"
name = "Valdis"
print(name, second_name)

In [ ]:
print(id(name), id(second_name))

## Floating Point

In [ ]:
4/5 + 2/3 + 1/7

In [ ]:
0.1+0.2+0.3-0.6
# More on floating point https://docs.python.org/2/tutorial/floatingpoint.html

## Strings
* immutable

In [ ]:
name = "Valdis"
print(name)

In [ ]:
# this is a comment meaning for us humans, not for computer :)

In [ ]:
len(name) # length of string which name variable points to

In [ ]:
len("name") # so "name" is just some text - string literal

### Slicing Notation
![Slice](https://i.stack.imgur.com/IVkET.jpg)
* hot linking can be dangerous if you are taking image where you are not supposed to somebody can put something rude on that image

In [ ]:
name, name[0] 
# notice index starts with 0! most programming languages start with 0

In [ ]:
name, name[5],name[-1],name[-2]

In [ ]:
name[0:3], name[:3] # so [:index] will go until that index from 0

In [ ]:
name[:4]

In [ ]:
name[1:4] # so I skip the 0 character

In [ ]:
name[-3]

In [ ]:
name[0:6:1] # this is actually the full syntax of slice

In [ ]:
name[::1]

In [ ]:
name, name[1:6:2]

In [ ]:
name, name[::2]

In [ ]:
# Python way of reversing a string
name, name[::-1]

In [ ]:
name_rev = name[::-1]
name_rev

In [ ]:
name[5:2:-1]

In [ ]:
# name[3]='b' 
# string are immutable you are not supposed to change strings

In [ ]:
#name[3]="b" # You can in fact make new strings
name=name[:3]+"D"+name[4:]
print(name)

In [ ]:
n2=name[:]
print(n2)
print(id(n2),id(name))
print(name[:])

In [ ]:
name = "Voldemars"
print(n,n2,name)

In [ ]:
n2 = "Something"

In [ ]:
name=name[::-1]
print(name)

In [ ]:
multi_string = """Really
Long
And
Boring
String"""
print(multi_string)

In [ ]:
t = "Talk " + 10 # Python is strongly typed so this will not work!
print(t)

In [ ]:
str(555)

In [ ]:
t = "Talk " + str(10) # Python is strongly typed so this will not work!
print(t)

In [ ]:
my_talk = f"Talk {a} {b} {c} {name} and so on" # f-strings
my_talk

In [ ]:
print(f"Hello there {name}! ")

In [ ]:
new_name = input("What is your name friend?") # input gives out str
print(f"Wow {new_name} that is a nice name!")

In [ ]:
new_num = input("Enter a number")
new_num = int(new_num) # we trust user is giving us number, we cast to number
print(new_num, type(new_num))

Enter a number777
777 <class 'int'>

In [ ]:
id('25'),id(25)

In [ ]:
int('345')

In [ ]:
?str

In [ ]:
# Automatic string concatenation without +
funny_string = ('Monty '
'Python ' 
'Spam '*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

In [ ]:
print("It's \ta \"wonderful\" \nlife")

In [ ]:
print('Really really long line\

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [ ]:
weekday="Tuesday"
month="June"
day=8
greeting = f'Today is {day}th of {month} which is {weekday}. Nice {month} isn\'t it ? '
print(greeting)
#nicer than format method

In [ ]:
seconds=345.24556
width=22 # how much space our formatted value should take up
precision=8 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{12}.{precision}} seconds since start of new era')
print(f'Elapsed {seconds:{7}.{5}} seconds since start of new era')
print(f'Number {5556.2222:{12}.{6}}')

In [ ]:
greeting[10:33:1]

### Python 3.X strings are Unicode by default no more 'u prefixes

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 3rd letter of your favorite
* Output first 2 letters of your favorite
* Output last 3 letters of your favorite
* Output reverse of your favorite
* Output every 2nd character of your favorite in reverse

In [ ]:
food = ""