# RCS Lists
## Useful Jupyter Commands

## Python Lists

* Ordered
* Mutable(can change individual members!)
* Comma separated between brackets [1,3,2,5,6,2]
* Can have duplicates
* Can be nested

In [1]:
groceries=['Bread','Eggs','Milk']
print(groceries)

['Bread', 'Eggs', 'Milk']

In [2]:
emptylist = []
len(emptylist)

0

In [3]:
'Bread' in groceries

True

In [4]:
'Apples'  in groceries

False

In [5]:
# we can call a list conversion a a string
name_list = list("Valdis")
print(name_list)

['V', 'a', 'l', 'd', 'i', 's']

In [6]:
list(5)

TypeError: 'int' object is not iterable

In [7]:
list("V")

['V']

In [8]:
name_list[3]

'd'

In [9]:
name_list[3]='b'
print(name_list)

['V', 'a', 'l', 'b', 'i', 's']

In [10]:
# this will not work as expected
str(name_list)

"['V', 'a', 'l', 'b', 'i', 's']"

In [13]:
# We can join the list back into a string 
# by using an empty string and joining our list
"".join(name_list)

'Valbis'

In [14]:
# here I create a copy of a list
glist=list(groceries)
print(glist, id(glist), id(groceries))

['Bread', 'Eggs', 'Milk'] 2351490484168 2351485650760

In [16]:
# here I just point another variable at the SAME list
glist2=groceries
print(id(glist2),id(groceries),id(glist))

2351485650760 2351485650760 2351490484168

In [17]:
groceries[2] = "Chocolate"
groceries, glist, glist2

(['Bread', 'Eggs', 'Chocolate'],
 ['Bread', 'Eggs', 'Milk'],
 ['Bread', 'Eggs', 'Chocolate'])

In [18]:
glist == groceries

False

In [19]:
glist[2] = 'Apples'

In [20]:
glist

['Bread', 'Eggs', 'Apples']

In [21]:
groceries

['Bread', 'Eggs', 'Chocolate']

In [30]:
# We can add new elements with append
glist.append('Peaches')
glist

['Bread',
 'Eggs',
 'Apples',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [31]:
glist

['Bread',
 'Eggs',
 'Apples',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [32]:
# we cut down our list
glist = glist[:4]
glist

['Bread', 'Eggs', 'Apples', 'Peaches']

In [33]:
groceries

['Bread', 'Eggs', 'Chocolate']

In [34]:
glist == groceries

False

In [ ]:
# new clear list
glist = []

In [ ]:
glist.

In [ ]:
dir(glist)

In [50]:
# In Place
glist.reverse()
print(glist)

['Bread', 'Eggs', 'Apples', 'Peaches']

In [51]:
# save the new reversed list in variable reversedlist
reversedlist = glist[::-1]
reversedlist

['Peaches', 'Apples', 'Eggs', 'Bread']

In [58]:
glist, reversedlist

([], ['Peaches', 'Apples', 'Eggs', 'Bread'])

In [59]:
glist = reversedlist[::-1]
glist

['Bread', 'Eggs', 'Apples', 'Peaches']

In [56]:
lastelem = glist.pop()
print(lastelem)
print(glist)

IndexError: pop from empty list

In [ ]:
# make a blank list
newlist = []

In [60]:
nlist = [1,2,3,4,5,6]
nlist

[1, 2, 3, 4, 5, 6]

In [61]:
f20 = list(range(20))
f20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [62]:
f20 = list(range(1,21))
f20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [63]:
x = list(range(0,51,3))
print(x)
# Python 3.x range is an improved Python 2.x xrange!

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [64]:
mylist = [1,2,5, "Valdis", ["Bread", "milk", 3, 6, 2.77, [3, "wo'w"]], ["anotherlist", 2,3], "just sometext"]
mylist

[1,
 2,
 5,
 'Valdis',
 ['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]],
 ['anotherlist', 2, 3],
 'just sometext']

In [65]:
innerlist = mylist[4]
innerlist

['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]]

In [66]:
list3 = innerlist[5]
list3

[3, "wo'w"]

In [67]:
lastel=list3[-1] # here list3[1] would work as well
lastel

"wo'w"

In [68]:
lastletter = lastel[-1]
lastletter

'w'

In [69]:
mylist[4][5][1][2]

"'"

In [70]:
mylist[4][5][1][3]

'w'

In [71]:
len(mylist)

7

In [72]:
x=list(range(1,11))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
y = [z*z for z in x]
print(y)
# List comprehensions! Pythonism! We'll talk about those again!

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [74]:
sum(x),sum(y)

(55, 385)

In [75]:
len(x),len(y)

(10, 10)

In [76]:
y

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [77]:
x+y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
z=(x+y)*3

In [79]:
len(z)

60

In [80]:
z

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100]

In [81]:
tmp = y*2
print(tmp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
len(tmp)

20

In [83]:
tmp[3:18:3]

[16, 49, 100, 9, 36]

In [84]:
25 in tmp

True

In [85]:
66 in tmp

False

In [86]:
"Valdis" in tmp

False

In [87]:
tmp[::-1]

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [88]:
tmp[3:98:2]

[16, 36, 64, 100, 4, 16, 36, 64, 100]

In [ ]:
len(y)

In [ ]:
dir(tmp)

In [89]:
y

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [90]:
y.insert(0, 33)
y

[33, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [105]:
# inserting before 7th element
y.insert(6, 33)
y

[1, 4, 9, 16, 25, 36, 33, 33, 33, 49, 64, 81, 100]

In [93]:
55 in y

False

In [94]:
33 in y

True

In [ ]:
y

In [95]:
y.index(16)

4

In [96]:
y[4]

16

In [98]:
y.index(33), y[0]

(0, 33)

In [106]:
# y.remove(33)
y.remove(33)
y

[1, 4, 9, 16, 25, 36, 33, 33, 49, 64, 81, 100]

In [107]:
a = 5
a = a + 10
a

15

In [117]:
a += 10 # same as a = a + 10
a

115

In [118]:
y+=[11, -22, 66] # same as y = y + [11, -22, 66]
y

[1, 4, 9, 16, 25, 36, 33, 33, 49, 64, 81, 100, 11, -22, 66]

In [119]:
y.append([11, -22, 66])
y

[1, 4, 9, 16, 25, 36, 33, 33, 49, 64, 81, 100, 11, -22, 66, [11, -22, 66]]

In [121]:
y = y[:-3]
y

[1, 4, 9, 16, 25, 36, 33, 33, 49, 64, 81, 100, 11]

In [122]:
newlist = sorted(y) # returns a new sorted list , keeps old list unchanged!
newlist

[1, 4, 9, 11, 16, 25, 33, 33, 36, 49, 64, 81, 100]

In [123]:
y

[1, 4, 9, 16, 25, 36, 33, 33, 49, 64, 81, 100, 11]

In [124]:
y.sort()
y

[1, 4, 9, 11, 16, 25, 33, 33, 36, 49, 64, 81, 100]

In [129]:
y.reverse()
y

[100, 81, 64, 49, 36, 33, 33, 25, 16, 11, 9, 4, 1]

In [130]:
x=y[::-1]
x

[1, 4, 9, 11, 16, 25, 33, 33, 36, 49, 64, 81, 100]

In [131]:
x[5]

25

In [132]:
z=x.pop(5)
print(x, z)

[1, 4, 9, 11, 16, 33, 33, 36, 49, 64, 81, 100] 25

In [133]:
x.insert(5, z)
x

[1, 4, 9, 11, 16, 25, 33, 33, 36, 49, 64, 81, 100]

In [134]:
x.count(33)

2

 ## Common list methods.

* `list.append(elem)` -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
* `list.insert(index, elem)` -- inserts the element at the given index, shifting elements to the right.
* `list.extend(list2)` adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
* `list.index(elem)` -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
* `list.remove(elem)` -- searches for the first instance of the given element and removes it (throws ValueError if not present)
* `list.sort()` -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
* `list.reverse()` -- reverses the list in place (does not return it)
* `list.pop(index)`-- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [ ]:
list(range(55,59))

In [ ]:
tmp

In [ ]:
tmp.count(64)
# We count occurences!

In [ ]:
tmp.count('Valdis')

In [ ]:
print(tmp.index(64))
tmp[7]

In [ ]:
?tmp.index

In [ ]:
tmp.index()

In [ ]:
len(x)

In [ ]:
[] is []

In [ ]:
[] == []

## List exercise
* create list of number 5 to 15 (included) and assign to a variable
* output first 4 numbers
* output last 3 numbers
* output last 3 numbers in reversed order
* extra credit output average!

In [ ]:
mylist = list(range(5,16))
mylist

In [ ]:
mylist[:4]

In [ ]:
mylist[-3:]

In [ ]:
mylist[-1:-4:-1]

In [ ]:
sum(mylist)/len(mylist)