# Lists and Tuples in Python

Lists and Tuples are two of the most commonly used data structures in Python. They are used to store multiple items in a single variable. They are both ordered and indexed, which means that you can access elements by their index. However, there are some differences between them. In this notebook, we will discuss the differences between lists and tuples in Python.

## Python Lists

* Ordered
* Mutable(can change individual members!) unlike characters in strings
* Dynamic size - can change the size of the list itself, unlike strings which are fixed
* Comma separated between brackets [1,3,2,5,6,2]
* Can have duplicates
* Can be nested - can have list inside list and so on
* Can use same syntax for slicing and indexing as in strings

In [ ]:
grocery_1 = "Bread"
grocery_2 = "Milk"
grocery_3 = "Eggs"
# is this a good way to store groceries?
# there should be a beter way :)

In [1]:
# in other words it is a generic container for whatever you want to store in computer memory
groceries=['Bread','Eggs','Milk'] # define my list and I will store 3 strings inside
print(groceries)

['Bread', 'Eggs', 'Milk']

In [2]:
type(groceries)

list

In [3]:
emptylist = [] # often used to initialize before storing things inside a list
# name emptylist could be any valid variable name
len(emptylist)

0

In [6]:
len(groceries) # if you are working in a different enviroment without variable inspector

3

In [7]:
# checking for existance
# if we have many items in a list this will take so called O(n) time
# meaning if we have million items Python will have to check every single one
# there is another structure for this which is more efficient
'Bread' in groceries

True

In [8]:
'Bread' in emptylist # should be False

False

In [9]:
food = "My breadsticks" # compare with string membership
"bread" in food

True

In [10]:
"read" in groceries # so when checking for existance in a list it has to an exact match, 
# so we will need a loop to find in exact matches

False

In [11]:
'Apples'  in groceries

False

In [12]:
# we can call a list conversion a a string (or other sequence types)
# remember we had int, float, bool and str conversion
name_list = list("Valdis")
print(name_list)

['V', 'a', 'l', 'd', 'i', 's']

In [13]:
print(list(food))

['M', 'y', ' ', 'b', 'r', 'e', 'a', 'd', 's', 't', 'i', 'c', 'k', 's']

In [14]:
list(5) # this will be an error why? because 5 is not an iterable sequence
# this means we can not loop over it

TypeError: ignored

In [15]:
single_item_list = [5] # notice the square brackets
single_item_list

[5]

In [ ]:
list("V") # so we get a list with single item - string with one character
# this works because strings even a single character strings are sequences of something we can iterate over

['V']

In [ ]:
name_list

['V', 'a', 'l', 'd', 'i', 's']

In [16]:
name_list[3] # index starts with 0 just like with strings

'd'

In [17]:
# how about from the other end? using negative index
name_list[-2], name_list[-3]

('i', 'd')

In [18]:
name_list[3]='b' # unlike strings we can mutate contents of list
# i could have put any data instead of 'b' actually
print(name_list)

['V', 'a', 'l', 'b', 'i', 's']

In [19]:
# this will not work as expected
str(name_list)  # this creates a literal string out of how list looks when printed, not very useful

"['V', 'a', 'l', 'b', 'i', 's']"

In [20]:
str_from_list = str(name_list)  # not quite what we want
print(str_from_list) # this is actually a string, not very useful

['V', 'a', 'l', 'b', 'i', 's']

In [22]:
# We can join the list back into a string 
# by using an empty string and joining our list
"".join(name_list) # we pass a list as a parameter
# important the list should contain ONLY strings

'Valbis'

In [23]:
":|:".join(name_list)  #you can use any string for joining, there is a requirement that list itself contains strings

'V:|:a:|:l:|:b:|:i:|:s'

In [24]:
funny_name = "ðŸ¤ ".join(name_list)
print(funny_name)

VðŸ¤ aðŸ¤ lðŸ¤ bðŸ¤ iðŸ¤ s

In [25]:
# so range is actually a lazy factory for numbers
# in computer programming lazy is usually more efficient than eager(meaning runs immediately)
# we need to call list to convert this force this lazy factory actually run the numbers
numbers = list(range(12)) # so this will have numbers from 0 to 11
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Slicing lists

Slicing lists works just like slicing strings same idea

In [26]:
numbers[:3] # first three because 0 is implied/default

[0, 1, 2]

In [27]:
numbers[-3:] # last three

[9, 10, 11]

In [28]:
numbers[5:7]  # so item with index 7 (8th item) is NOT included

[5, 6]

In [29]:
reversed_numbers = numbers[::-1]
reversed_numbers

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [30]:
numbers[::2] # will be every second number starting with 0

[0, 2, 4, 6, 8, 10]

In [31]:
numbers[1::2] # so start with 2nd number with index 1 - in this this is 1 actually

[1, 3, 5, 7, 9, 11]

In [32]:
saved_numbers_slice = numbers[3:9:2] # 9 will not be included here
# start at 4th item(value 3 here) and take every 2nd after that
print(saved_numbers_slice)

[3, 5, 7]

In [33]:
# if we have numerics (ints, floats, also booleans)in our list we can use some built in functions sum,min,max
sum(numbers)

66

In [34]:
sum(saved_numbers_slice)

15

In [35]:
# I could use print and use f-strings to not save any results just print
print(f"Even number sum from list {numbers} is {sum(numbers[::2])}")

Even number sum from list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] is 30

## Average from list

In [36]:
# average is not defined but can be easily calculated
# there are statistics libraries which have it and other metrics
avg = sum(numbers) / len(numbers)  
avg

5.5

In [37]:
# again if the list contains only numbers we can use min and max
min(numbers)

0

In [ ]:
max(numbers)  # of course Python has to go through the whole list to find the min and max

11

In [ ]:
# lists are compound data structures, meaning they are built from other elements
# so they are not always copied in order to save space among other reasons

## List copies

In [38]:
# here I create a copy of a lista
list_copy=list(groceries)
print(list_copy, id(list_copy), id(groceries)) 
# so memory address of these two lists is different! this means they have their own lives now

['Bread', 'Eggs', 'Milk'] 139965943315968 139965967311488

In [40]:
# here I just point another variable at the SAME list, just a reference/shortcut
glist2=groceries # this is just an alias
print(id(glist2),id(groceries),id(list_copy), sep = "\n")

139965967311488
139965967311488
139965943315968

In [42]:
groceries[2] = "Chocolate"  # so the original list will change any any references to this original list
groceries, glist2, list_copy

(['Bread', 'Eggs', 'Chocolate'],
 ['Bread', 'Eggs', 'Chocolate'],
 ['Bread', 'Eggs', 'Milk'])

In [43]:
glist2[1] = "Beer"
groceries, glist2, list_copy

(['Bread', 'Beer', 'Chocolate'],
 ['Bread', 'Beer', 'Chocolate'],
 ['Bread', 'Eggs', 'Milk'])

In [44]:
list_copy[0] = "Potatoes"
groceries, glist2, list_copy

(['Bread', 'Beer', 'Chocolate'],
 ['Bread', 'Beer', 'Chocolate'],
 ['Potatoes', 'Eggs', 'Milk'])

In [45]:
list_copy == groceries # this check for contents not the actualy memory

False

In [46]:
groceries is glist2 # so we check the id of each variable and see if they are pointing to same memory address

True

In [47]:
list_3 = ['Potatoes', 'Eggs', 'Milk']
list_3 == list_copy, list_3 is list_copy
# thus contents are same, but these are different lists
# so think of two shopping carts with same type of items in them

(True, False)

In [48]:
## there are two other ways of copying
another_copy = list_3.copy() # same result as list(list_3)
yet_another_copy = list_3[:] # so slicing a list produces a copy
print(list_3, id(list_3))
print(another_copy, id(another_copy))
print(yet_another_copy, id(yet_another_copy))
# so here we have same contents but three different lists in memory

['Potatoes', 'Eggs', 'Milk'] 139965688262784
['Potatoes', 'Eggs', 'Milk'] 139965200698176
['Potatoes', 'Eggs', 'Milk'] 139965200284608

In [ ]:
id(list_copy), id(list_3) # different memory addresses

(2346169306112, 2346168541120)

In [ ]:
groceries

['Bread', 'Milk', 'Chocolate']

In [50]:
glist = list_copy # so I created a new alias for my list_copy
glist is list_copy  # so glist points at the same memory stucture as does list_copy, think of it as a shortcut

True

In [ ]:
glist

['Potatoes', 'Eggs', 'Milk']

## Appending / adding elements to a list

Unlike strings we can add elements to a list

In [51]:

print(glist)

['Potatoes', 'Eggs', 'Milk']

### IN PLACE modification

IN PLACE means original data structure is modified
Often done without assignment - no need original is changed

In [57]:
# We can add new elements with append
glist.append('Peaches') # IN PLACE addition of element
# IN PLACE means the collection is changed (generally NOT returned), I am mutating the original list in this case called glist
glist

['Potatoes', 'Eggs', 'Milk', 'Peaches', 'Peaches', 'Peaches', 'Peaches']

### OUT OF PLACE modification

OUT OF PLACE means original is not changed
Typically this is done via assignment

In [64]:
new_list = glist + ["Pomegranates"] # THIS IS IN PLACE, original is not affected
print(new_list)
print(glist)

['Potatoes', 'Eggs', 'Milk', 'Peaches', 'Peaches', 'Peaches', 'Peaches', 'Pomegranates']
['Potatoes', 'Eggs', 'Milk', 'Peaches', 'Peaches', 'Peaches', 'Peaches']

In [65]:
list_copy

['Potatoes', 'Eggs', 'Milk', 'Peaches', 'Peaches', 'Peaches', 'Peaches']

## Cutting down lists

In [66]:
# we cut down our list using slicing syntax
glist = glist[:4] # remember our slicing syntax from last week so this is OUT OF PLACE
# but since I used the same name the new list structure overwrite the old one
# i am saying I want my list to only contain first four items of this list
# it will work without Error  even when you have 0 to 3 items, just will do nothing
glist

['Potatoes', 'Eggs', 'Milk', 'Peaches']

In [ ]:
groceries

['Bread', 'Beer', 'Chocolate']

In [ ]:
list_copy

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [ ]:
# Python will manage memory for you and will clean up
#  if you have no references to the list (just like with other data)

In [67]:
glist == groceries

False

In [72]:
# new clear list
glist = [] # so by assigning a new blank list we essentially erased glist
# however if some other variable was pointing to this list the data would still remain on that variable
glist

[]

In [73]:
list_copy

['Potatoes', 'Eggs', 'Milk', 'Peaches', 'Peaches', 'Peaches', 'Peaches']

In [74]:
len(glist)

0

In [75]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

## List methods

We saw list append method which adds item to list IN PLACE

There are many more methods
* We could look up documentation - https://docs.python.org/3/tutorial/datastructures.html#more-on-lists
* We could use dir command to find these methods
* We could also use . after some list to see them in your Colab and many other IDEs

In [ ]:
dir(glist) # this also gives some internal methods which we generally do not touch

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [76]:
glist # . popup will work on most other data structures as well including external libraries

['Bread', 'Milk', 'Cookies', 'Chocolate']

### Clear

In [80]:
glist.clear()  # again IN PLACE operation meaning modifies the contents wherever the variable points at
glist

[]

In [82]:
glist.append("Tea") # append is for single items
glist

['Tea', 'Tea']

### Extend

In [83]:
# so extend adds items from another list to an existing list
glist.extend(["Milk","Cookies","Chocolate"])  #again IN PLACE modifiyin the list
glist

['Tea', 'Tea', 'Milk', 'Cookies', 'Chocolate']

In [84]:
# append works differently!
glist.append(["Beer", "Cognac"])  # careful when appending another list to a list, it might not be what you want
glist

['Tea', 'Tea', 'Milk', 'Cookies', 'Chocolate', ['Beer', 'Cognac']]

In [ ]:
# so we have a list inside our list

In [ ]:
# how to get Beer out of it?

In [85]:
glist[-1] # let's look at the last item in glist which is the inner list

['Beer', 'Cognac']

In [86]:
glist[-1][0]  # so I got last item from the outer list then I get the first item of this inner (nested) list

'Beer'

In [87]:
# there are other ways of accessing using only positive indexes
glist[5][0]

'Beer'

## Pop - in place removal and retrieval of last item

In [88]:
print(glist)
last_item = glist.pop() # IN PLACE again, returns last item and removes it from the list
print(glist)
print(last_item)

['Tea', 'Tea', 'Milk', 'Cookies', 'Chocolate', ['Beer', 'Cognac']]
['Tea', 'Tea', 'Milk', 'Cookies', 'Chocolate']
['Beer', 'Cognac']

In [93]:
# if I do it again Chocolate will be gone unless I save it in another variable
print(glist)
glist.pop() # without saving the item will be gone
# if I pop an empty list it will produce an error
print(glist)

['Tea']
[]

In [94]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"] # I remade the list
len(glist)

4

## Reverse - in place, out of place

In [95]:
# In Place reversal
glist.reverse()  # this is IN PLACE
print(glist)

['Chocolate', 'Cookies', 'Milk', 'Bread']

In [96]:
# save the new reversed list in variable reversedlist
reversedlist = glist[::-1] # we can store result in new list, but keep the old one this is OUT OF PLACE meaning we need new variable to store
reversedlist

['Bread', 'Milk', 'Cookies', 'Chocolate']

In [ ]:
# there is also reversed function which is lazy

In [ ]:
glist, reversedlist

(['Chocolate', 'Cookies', 'Milk', 'Bread'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [ ]:
glist = reversedlist[::-1]
glist, reversedlist

(['Chocolate', 'Cookies', 'Milk', 'Bread'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [ ]:
glist = glist[::-1]
glist, reversedlist

(['Bread', 'Milk', 'Cookies', 'Chocolate'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [ ]:
glist += ["Tea"]  # so this is like glist = glist = ["Tea"] so similar to append but it is OUT OF PLACE since we are overwriting our list
glist

['Chocolate', 'Cookies', 'Milk', 'Bread', 'Tea', 'Tea']

In [ ]:
glist

['Chocolate', 'Cookies', 'Milk', 'Bread', 'Tea', 'Tea']

In [ ]:
last_item = glist[-1]  # this keeps the list intact
last_item

'Tea'

In [ ]:
glist

['Chocolate', 'Cookies', 'Milk', 'Bread', 'Tea', 'Tea']

In [ ]:
# glist= ["Bread", "Milk", "Cookies", "Chocolate"]
lastelem = glist.pop() # IN PLACE removal of LAST element, and return of this last element
print(lastelem)
print(glist)

Bread
['Chocolate', 'Cookies', 'Milk']

In [ ]:
# make a blank list
newlist = []

In [ ]:
nlist = [1,2,3,4,5,6] #this can get boring fast...
nlist

In [ ]:
f20 = list(range(20)) # remember range starts at 0 and goes to n-1
f20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
f20 = list(range(1,21))
f20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [98]:
numbers_list = list(range(0,51,3))
print(numbers_list)
# Python 3.x range is an improved Python 2.x xrange!

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
# Lists can take any number of data types
mylist = [1,2,5, "Valdis", ["Bread", "milk", 3, 6, 2.77, [3, "wo'w"]], ["anotherlist", 2,3], "just sometext"]
mylist

[1,
 2,
 5,
 'Valdis',
 ['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]],
 ['anotherlist', 2, 3],
 'just sometext']

In [99]:
numbers_list[5] = 888
numbers_list

[0, 3, 6, 9, 12, 888, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

## Sorting - in place, out place

In [101]:
numbers_list.sort() # will sort the numbers IN PLACE in ASCENDING ORDER
print(numbers_list)

[0, 3, 6, 9, 12, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 888]

In [102]:
numbers_list.append(12)
numbers_list

[0, 3, 6, 9, 12, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 888, 12]

In [103]:
numbers_list.sort(reverse= True) # we can sort in reverse order
numbers_list

[888, 48, 45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 12, 12, 9, 6, 3, 0]

In [105]:
sorted_list = sorted(numbers_list) # OUT OF PLACE returns new list sorted in ASCENDING
# there is also a reverse flag
sorted_list

[0, 3, 6, 9, 12, 12, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 888]

## Count, Index

In [107]:
sorted_list.count(12), numbers_list.count(12) # so we have 2 in each list

(2, 2)

In [108]:
# index will find the index of some item
sorted_list.index(12), numbers_list.index(12)
# index will throw ValueError if item does not exist

(4, 12)

## Insert, removal

In [109]:
sorted_list.insert(1, "Booo!") # so inserts at the exact place and shifts rest up
print(sorted_list)
# this can take a while to move the whole list, so insert is less efficient than append
# so inserting things at the begginning of a list is not as efficient as appending at the end

[0, 'Booo!', 3, 6, 9, 12, 12, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 888]

In [110]:
sorted_list.remove("Booo!") # removes exact first match
print(sorted_list)

[0, 3, 6, 9, 12, 12, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 888]

# Looping through lists

Works just like in strings we go through each individual item, for strings it was mini string of one character

For lists it is the individual item

In [111]:
for item in glist:
    print(item)

Chocolate
Cookies
Milk
Bread

In [114]:
# less frequently we might need an index then we use enumarate
print(glist)
for index,item in enumerate(glist): # we could start at a different numbering as well
    print(index, item)
    print(f"Item no. {index} is {item} same as {glist[index]}") # last approach is not needed

['Chocolate', 'Cookies', 'Milk', 'Bread']
0 Chocolate
Item no. 0 is Chocolate same as Chocolate
1 Cookies
Item no. 1 is Cookies same as Cookies
2 Milk
Item no. 2 is Milk same as Milk
3 Bread
Item no. 3 is Bread same as Bread

In [115]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [117]:
# let's go through our numbers list and create squares of this list
squares = []  # so we start with a new blank list
for n in numbers:
    new_square = n**2
    print(f"Squaring {n} into {new_square}")
    squares.append(new_square)  # or n*n # and we keep adding for each number in our original numbers list we create a square
    # you could do it without a temporary variable
    # squares.append(n**2)  # or n*n # and we keep adding for each number in our original numbers list we create a square
print("My squares are", squares)

Squaring 0 into 0
Squaring 1 into 1
Squaring 2 into 4
Squaring 3 into 9
Squaring 4 into 16
Squaring 5 into 25
Squaring 6 into 36
Squaring 7 into 49
Squaring 8 into 64
Squaring 9 into 81
Squaring 10 into 100
Squaring 11 into 121
My squares are [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

# List Comprehension Example

In [118]:
# so for our squares often we need to take an existing sequence(here it is a list) and do something with it
# there is a shorter syntax for such operations
square_list = [n**2 for n in numbers] # same idea as above for loop
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [ ]:
# list comprehensions are for shorter calculations with minimum of logic
# use regular for loops for more complex cases

In [121]:
even_squares = [n**2 for n in numbers if n%2 == 0] # we only takes squares of even numbers
even_squares

[0, 4, 16, 36, 64, 100]

In [122]:
# you could do the same thing with regular loop and ifs
even_squares_2 = []
for n in numbers:
    if n%2 == 0:
        even_squares_2.append(n**2)
# same code as list comprehension but more writing
even_squares_2

[0, 4, 16, 36, 64, 100]

In [ ]:
innerlist = mylist[4]
innerlist

['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]]

In [ ]:
inner_inner_list = innerlist[5]
inner_inner_list

[3, "wo'w"]

In [ ]:
i_list = innerlist[-1]
i_list

[3, "wo'w"]

In [ ]:
last_list  = i_list[-1] # here list3[1] would work as well
last_list

"wo'w"

In [ ]:
my_letter = last_list[1]
my_letter

'o'

In [ ]:
mylist[4][-1][-1][1]

'o'

In [ ]:
mylist[4][5][1][1], mylist[4][5][1][-3]

('o', 'o')

In [ ]:
len(mylist)

In [ ]:
x=list(range(1,11))
x

In [ ]:
glist

['Bread', 'Milk', 'Cookies']

In [ ]:
# adding more items by making new list
glist += ["Pasta", "Cereal", "Water"] # it is same as saying glist = glist + ["Pasta", "Cereal", "Water"]
# so += is out of place , unlike mylist.append() method
glist

['Chocolate', 'Cookies', 'Milk', 'Pasta', 'Cereal', 'Water']

In [ ]:
glist.append(["Booze", "Candy"])
glist

['Chocolate',
 'Cookies',
 'Milk',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy']]

In [ ]:
glist.extend(["Beer", "Chips"]) # so extend works similarl to += it flattens the new items
glist

['Chocolate',
 'Cookies',
 'Milk',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [ ]:
glist[-3]

['Booze', 'Candy']

In [ ]:
glist[-3][-1], glist[-3][1] # same thing

('Candy', 'Candy')

In [ ]:
glist.count("Pasta")  # count need exact match

1

In [ ]:
glist.index("Paste")

ValueError: ignored

In [ ]:
glist.index("Pasta")

3

In [ ]:
glist

['Bread',
 'Milk',
 'Cookies',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [ ]:
glist[3]

'Pasta'

In [ ]:
glist.insert(4, "Tomato Sauce") # so it will insert before 5th element (with index 4)
glist

['Chocolate',
 'Cookies',
 'Milk',
 'Pasta',
 'Tomato Sauce',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [ ]:
glist[4]

'Tomato Sauce'

In [ ]:
# for large lists insert might not be very fast because you have to shift the elements around

In [ ]:
glist.remove("No idea what to remove")

ValueError: ignored

In [ ]:
glist.remove("Tomato Sauce") # we got rid of first tomatoe sauce occurence
glist

['Chocolate',
 'Cookies',
 'Milk',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [ ]:
# You can only sort list that have same data types or types that can be compared like int and float
glist.sort() # this is in place and will be numeric, or lexicographical sort
glist

TypeError: ignored

In [ ]:
glist.remove(['Booze', 'Candy'])
glist

['Cereal', 'Chocolate', 'Cookies', 'Milk', 'Pasta', 'Water', 'Beer', 'Chips']

In [ ]:
glist.sort()  # in place for strings it is lexicographic
glist

['Beer', 'Cereal', 'Chips', 'Chocolate', 'Cookies', 'Milk', 'Pasta', 'Water']

In [ ]:
glist_copy = sorted(glist) # this is OUT OF PLACE sort meaning we need to store somewhere
glist_copy

['Beer', 'Cereal', 'Chips', 'Chocolate', 'Cookies', 'Milk', 'Pasta', 'Water']

In [ ]:
glist = glist[:7]
glist

['Bread', 'Cereal', 'Cookies', 'Milk', 'Pasta', 'Tomato Sauce', 'Water']

In [ ]:
glist.append("Olive Oil")
glist

['Bread',
 'Cereal',
 'Cookies',
 'Milk',
 'Pasta',
 'Tomato Sauce',
 'Water',
 'Olive Oil']

In [ ]:
glist.sort()
glist

['Bread',
 'Cereal',
 'Cookies',
 'Milk',
 'Olive Oil',
 'Pasta',
 'Tomato Sauce',
 'Water']

In [ ]:
glist.sort(reverse = True) # again sort is in place
glist

['Water', 'Pasta', 'Milk', 'Cookies', 'Chocolate', 'Chips', 'Cereal', 'Beer']

In [ ]:
new_list = sorted(glist) # so sorted is out of place, returns new sorted something
new_list

['Bread',
 'Cereal',
 'Cookies',
 'Milk',
 'Olive Oil',
 'Pasta',
 'Tomato Sauce',
 'Water']

In [ ]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [ ]:
# Mini exercise
# give me a list of squares of names from 1 to 10 [1,4,9....,100]
results = []
# write a for loop and append something to results
for n in range(1,11):
    results.append(n**2)
print(results)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
import random

In [ ]:
dice_throws = [random.randint(1,6) for _ in range(30)]  # randint is a rare case where both sides are INCLUSIVE, usually the last number is not included
# we are using _ to signify that we do not care for the actual iterator, index in this case we just want to do something
dice_throws

[2,
 1,
 2,
 4,
 4,
 1,
 2,
 4,
 6,
 4,
 4,
 1,
 4,
 6,
 5,
 2,
 3,
 3,
 4,
 4,
 2,
 2,
 5,
 2,
 4,
 4,
 5,
 2,
 5,
 5]

In [ ]:
sum(dice_throws), min(dice_throws), max(dice_throws), sum(dice_throws) / len(dice_throws)

(102, 1, 6, 3.4)

In [ ]:
dice_total = sum(dice_throws)

In [ ]:
few_randoms = [random.randint(-500,500) for _ in range(10)]
few_randoms

[-193, 163, -297, 409, 468, 11, -37, -255, 101, -400]

In [ ]:
sorted_randoms = sorted(few_randoms) # OUT OF PLACE, keep original intact
few_randoms, sorted_randoms

([-193, 163, -297, 409, 468, 11, -37, -255, 101, -400],
 [-400, -297, -255, -193, -37, 11, 101, 163, 409, 468])

In [ ]:
few_randoms.sort() # IN PLACE changing the order of original
few_randoms, sorted_randoms

([-400, -297, -255, -193, -37, 11, 101, 163, 409, 468],
 [-400, -297, -255, -193, -37, 11, 101, 163, 409, 468])

In [ ]:
x = list(range(1,11))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
y = [n*n for n in range(1,11)]
print(y)
# List comprehensions! A shorter way to do the above list creations 
# Pythonism! We'll talk about those again!

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sum(x),sum(y)

(55, 385)

In [ ]:
len(x),len(y)

(10, 10)

In [ ]:
min(x), min(y)

(1, 1)

In [ ]:
max(x), max(y)

(10, 100)

In [ ]:
y

In [ ]:
x+y  # i am not saving this new list anywhere

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
z=(x+y)*3 # so we create a list of (10+10 )* 3 elements

In [ ]:
z

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100]

In [ ]:
len(z)

60

In [ ]:
z

In [ ]:
tmp = y*2
print(tmp)

In [ ]:
# so * lists can be useful if you want to initialize a list with 0s
my_counters = [0]*10
my_counters

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
my_counters[5] += 1
my_counters

[0, 0, 0, 0, 0, 2, 0, 0, 0, 0]

In [ ]:
len(tmp)

In [ ]:
tmp[3:18:3]

In [ ]:
25 in tmp

In [ ]:
66 in tmp

In [ ]:
"Valdis" in tmp

In [ ]:
tmp[::-1]

In [ ]:
tmp[3:98:2]

In [ ]:
len(y)

In [ ]:
dir(tmp)

In [ ]:
y

In [ ]:
y.insert(0, 33)
y

In [ ]:
# inserting before 7th element
y.insert(6, 33)
y

In [ ]:
55 in y

In [ ]:
33 in y

In [ ]:
y

In [ ]:
y.index(16)

In [ ]:
y[4]

In [ ]:
y.index(33), y[0]

In [ ]:
# y.remove(33)
y.remove(33)
y

In [ ]:
a = 5
a = a + 10
a

In [ ]:
a += 10 # same as a = a + 10
a

In [ ]:
y+=[11, -22, 66] # same as y = y + [11, -22, 66]
y

In [ ]:
y.append([11, -22, 66])
y

In [ ]:
y = y[:-3]
y

In [ ]:
newlist = sorted(y) # returns a new sorted list , keeps old list unchanged!
newlist

In [ ]:
y

In [ ]:
y.sort()
y

In [ ]:
y.reverse()
y

In [ ]:
x=y[::-1]
x

In [ ]:
x[5]

In [ ]:
z=x.pop(5)
print(x, z)

In [ ]:
x.insert(5, z)
x

In [ ]:
x.count(33)

 ## Common list methods.

* `list.append(elem)` -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
* `list.insert(index, elem)` -- inserts the element at the given index, shifting elements to the right.
* `list.extend(list2)` adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
* `list.index(elem)` -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
* `list.remove(elem)` -- searches for the first instance of the given element and removes it (throws ValueError if not present)
* `list.sort()` -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
* `list.reverse()` -- reverses the list in place (does not return it)
* `list.pop(index)`-- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [ ]:
mixed_list = [1, False, 3.1415926, -1, 0, True, 9000, -343]
mixed_list

[1, False, 3.1415926, -1, 0, True, 9000, -343]

In [ ]:
sorted(mixed_list)  # so here we can see that False has the same value as 0 and True has the same value as 1 for sorting purposes

[-343, -1, False, 0, 1, True, 3.1415926, 9000]

In [ ]:
mixed_list

[1, False, 3.1415926, -1, 0, True, 9000, -343]

In [ ]:
mixed_list.sort() # this will change list IN PLACE
mixed_list

[-343, -1, False, 0, 1, True, 3.1415926, 9000]

In [ ]:
list(range(55,59))

In [ ]:
tmp

In [ ]:
tmp.count(64)
# We count occurences!

In [ ]:
tmp.count('Valdis')

In [ ]:
print(tmp.index(64))
tmp[7]

In [ ]:
?tmp.index

In [ ]:
tmp.index()

In [ ]:
len(x)

In [ ]:
[] is []

In [ ]:
[] == []

## List exercise
* create list of number 5 to 15 (included) and assign to a variable
* output first 4 numbers
* output last 3 numbers
* output last 3 numbers in reversed order
* extra credit output average!

In [ ]:
mylist = list(range(5,16))
mylist

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
mylist[:4]

[5, 6, 7, 8]

In [ ]:
mylist[-3:]

[13, 14, 15]

In [ ]:
mylist[-1:-4:-1]

[15, 14, 13]

In [ ]:
sum(mylist)/len(mylist) # arithmetic average

10.0

In [ ]:
groceries

['Bread', 'Milk', 'Chocolate']

In [ ]:
groceries += ["Brown Bread", "Chococolate Bread", "Rye Bread"]
groceries

['Bread', 'Milk', 'Chocolate', 'Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [ ]:
groceries = groceries[1:] # get rid of the 1st element
groceries

['Milk', 'Chocolate', 'Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [ ]:
"Bread" in groceries

False

In [ ]:
found_list = []
key = "Bread"
for item in groceries:
    if "Bread" in item:
        found_list.append(item)
found_list

['Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [ ]:
found_list = []
key = "ilk"
for item in groceries:
    if key in item:
        found_list.append(item)
found_list

['Milk']

In [ ]:
groceries.append("Silken herring") # I dont think there is such a herring ...

In [ ]:
groceries

['Milk',
 'Chocolate',
 'Brown Bread',
 'Chococolate Bread',
 'Rye Bread',
 'Silken herring']

In [ ]:
found_list = []
key = "ilk"
for item in groceries:
    if key in item:
        found_list.append(item)
found_list

['Milk', 'Silken herring']

In [ ]:
# Tuples

# Tuples
https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

Think of tuples as immutable lists

In [123]:
my_tuple = 3, 6, "Anything"
my_tuple

(3, 6, 'Anything')

In [124]:
type(my_tuple)

tuple

## When to use tuples and when to use lists

Philosophy speaking:

* tuples are for heterogenous data - meaning different types
* lists are for homogenous data - same types(numbers, strings etc)

This rule is not a guideline not a strict one

In [ ]:
# Tuples are more efficient as long as you do not need to change them(then we need lists)
# tuples are often used for passing different values around

In [125]:
number_tuples = tuple(range(5,18))  # notice the round regular parenthesis (not square brackets used by list!)
number_tuples

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)

In [126]:
sum(number_tuples), min(number_tuples), max(number_tuples)

(143, 5, 17)

## Tuple Packing / Unpacking

In [127]:
a = 5
b = 9
mini_tuple = a, b # we pack values inside our tuple
mini_tuple

(5, 9)

In [ ]:
number_tuples[3:6]  #i get another tuple, so I can slice and dice the tuples, just rememer that to save results I need to create new tuples

(8, 9, 10)

In [128]:
# i can also unpack a tuple
c, d = mini_tuple # so unpacking I do need to pay attention to size of tuple 
print(c, d)

5 9

### Swapping values with tuple unpacking and packing

In [129]:
# combining packing and unpacking we can use it to exchange values
# in many languages you would have to use a temporary 3rd variable
print(a, b)
a, b = b, a # without this trick we would need a 3rd temporary variable
print(a, b)

5 9
9 5

In [130]:
# One last thing on tuples, the values inside can be mutated but not changed
# if we have something with IN PLACE methods inside tuple we can use those
my_tuple = (5, "Valdis", [1,2,3], (5,6,7)) 
my_tuple

(5, 'Valdis', [1, 2, 3], (5, 6, 7))

In [131]:
# i can not change what I am storing in a tuple
my_tuple[1]

'Valdis'

In [ ]:
# my_tuple[1] = "Voldemars" # not allowed

TypeError: ignored

In [132]:
# turns out we can mutate the list inside the tuple no problem
my_tuple[2], type(my_tuple[2])

([1, 2, 3], list)

In [133]:
my_tuple[2] = [1,6,2,6,7,9]  # not allowed! OUT OF PLACE

TypeError: ignored

In [134]:
my_tuple[2].append(9000)  # so my_tuple[2] is just a shortcut to the list
my_tuple

(5, 'Valdis', [1, 2, 3, 9000], (5, 6, 7))

In [ ]:
my_tuple[2].extend([-6,3.14])  # again IN PLACE methods work on mutable objects inside tuple
my_tuple

(5, 'Valdis', [1, 2, 3, 9000, -6, 3.14], (5, 6, 7))

In [135]:
my_tuple[2].clear() # i can clear the list inside the tuple but it remains the same list(object) that we started with
my_tuple

(5, 'Valdis', [], (5, 6, 7))

In [136]:
my_tuple.count(5) # it will only count the 5 which is stand alone

1

## Checking for matches inside list  or tuple

In [137]:
glist

['Chocolate', 'Cookies', 'Milk', 'Bread']

In [138]:
"late" in glist # False

False

In [139]:
needle = "late"
for item in glist:
    if needle in item:
        print(f"Found {needle} in {item}!")
    else:
        print(f"Sorry no {needle} in {item}..")

Found late in Chocolate!
Sorry no late in Cookies..
Sorry no late in Milk..
Sorry no late in Bread..

### Usage suggestions

* Lists are for storing homogenous items (same data type) so list of strings, list of ints, etc
* Tuples are for storing heterogenous items (different data types) just whatever
* this is not strictly enforced but just a suggestion
* https://stackoverflow.com/questions/626759/whats-the-difference-between-lists-and-tuples more on this issue