# RCS Sets

## Sets

* unordered
* uniques only
* curly braces {3, 6, 7}

In [2]:
s={3,3,6,1,3,6,7}
print(s)

{1, 3, 6, 7}

In [7]:
nset = set((3,3,6,1,3,6,7))
nset

{1, 3, 6, 7}

In [4]:
a = set("ķiļķēni un klimpas") # takes a sequence
a

{' ', 'a', 'i', 'k', 'l', 'm', 'n', 'p', 's', 'u', 'ē', 'ķ', 'ļ'}

In [8]:
type(s)

set

In [6]:
a

{' ', 'a', 'i', 'k', 'l', 'm', 'n', 'p', 's', 'u', 'ē', 'ķ', 'ļ'}

In [9]:
myletters = list(a)
myletters

['i', 'l', 'ļ', 'm', ' ', 'ē', 'u', 'k', 'p', 'a', 's', 'ķ', 'n']

In [10]:
"|".join(sorted(a)) 
# notice that sorting is using Unicode chr values so Latvian letters are after English
# TODO sort it locale specific way

' |a|i|k|l|m|n|p|s|u|ē|ķ|ļ'

In [5]:
myletters[:3]

['a', 'ķ', 'u']

In [6]:
al = list(a)
al

['a', 'ķ', 'u', 'l', 'm', 'n', 'p', 's', ' ', 'ē', 'ļ', 'i', 'k']

In [7]:
sorted(al)

[' ', 'a', 'i', 'k', 'l', 'm', 'n', 'p', 's', 'u', 'ē', 'ķ', 'ļ']

In [12]:
s

{1, 3, 6, 7}

In [11]:
nset = set(range(10))
nset

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
type(s)

set

In [ ]:
s.

In [13]:
s.issubset(nset)

True

In [14]:
nset.issuperset(s)

True

In [15]:
nset, s

({0, 1, 2, 3, 4, 5, 6, 7, 8, 9}, {1, 3, 6, 7})

In [16]:
s.issuperset(range(6))

False

In [18]:
nset.issuperset(range(6))

True

In [19]:
s2={3,6,76,2,8,8}
s2

{2, 3, 6, 8, 76}

In [20]:
s

{1, 3, 6, 7}

In [22]:
s.difference(s2) # so all values that are ONLY in set s but not in s2

{1, 7}

In [23]:
s.intersection(s2)

{3, 6}

In [25]:
s & s2 # so syntax sugar for intersection

{3, 6}

In [27]:
s.intersection(range(10)) # so 2nd argument has to be something iterable

{1, 3, 6, 7}

In [19]:
s2.intersection(s)

{3, 6}

In [28]:
sunion = s.union(s2)
sunion

{1, 2, 3, 6, 7, 8, 76}

In [30]:
s, s2

({1, 3, 6, 7}, {2, 3, 6, 8, 76})

In [31]:
s.symmetric_difference(s2)

{1, 2, 7, 8, 76}

In [29]:
s | s2

{1, 2, 3, 6, 7, 8, 76}

In [22]:
s2.union(s)

{1, 2, 3, 6, 7, 8, 76}

In [24]:
s,s2

({1, 3, 6, 7}, {2, 3, 6, 8, 76})

In [23]:
s.difference(s2)

{1, 7}

In [26]:
s3 = {2, 8, 9}
s3

{2, 8, 9}

In [27]:
s2.difference(s, s3)

{76}

In [28]:
s.clear()

In [29]:
s

set()

In [32]:
# we can update with many differnt data types
s.update({3,3,6,2,7,9},range(4,15), [3,6,7,"Valdis", "Badac"])

In [32]:
# we can update with many differnt data types
s.update({3,3,6,2,7,9},range(4,15), [3,6,7,"Valdis", "Badac"])

In [33]:
s

{1, 10, 11, 12, 13, 14, 2, 3, 4, 5, 6, 7, 8, 9, 'Badac', 'Valdis'}

In [213]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [34]:
# we can check if our set has anything in common with anohther data structures
s.isdisjoint([-3,-99])

True

In [35]:
s.isdisjoint((-22,-222,"HMMMM"))

True

In [36]:
s.isdisjoint((3,4))

False

In [10]:
s.issuperset({1,6})

True

In [11]:
s.issubset(set(range(100)))

True

In [12]:
s, s2

({1, 3, 6, 7}, {2, 3, 6, 8, 76})

In [40]:
s

{10, 11, 12, 13, 14, 2, 3, 4, 5, 6, 7, 8, 9, 'Badac', 'Valdis'}

In [41]:
s2

{2, 3, 6, 8, 76}

In [42]:
s.symmetric_difference(s2)

{10, 11, 12, 13, 14, 4, 5, 7, 76, 9, 'Badac', 'Valdis'}

In [43]:
s2.symmetric_difference(s)

{10, 11, 12, 13, 14, 4, 5, 7, 76, 9, 'Badac', 'Valdis'}

In [13]:
# Returns element that are in exactly one set (out of two)
s.symmetric_difference(s2)

{1, 2, 7, 8, 76}

In [14]:
s, s2

({1, 3, 6, 7}, {2, 3, 6, 8, 76})

In [15]:
s3=s.union(s2)
s3

{1, 2, 3, 6, 7, 8, 76}

In [12]:
s, s2

({1, 3, 6, 7}, {2, 3, 6, 8, 76})

In [16]:
# Leaves s4 with those elements from s which are NOT in s2
s4=s.difference(s2)
s4

{1, 7}

In [17]:
s2.difference(s)

{2, 8, 76}

In [18]:
# the middle of Venn diagram, that is elements in BOTH sets
s.intersection(s2)

{3, 6}

In [19]:
s2.intersection(s)

{3, 6}

In [45]:
# returns the union
s3 = s.union(s2)
s3

{10, 11, 12, 13, 14, 2, 3, 4, 5, 6, 7, 76, 8, 9, 'Badac', 'Valdis'}

In [46]:
# IN PLACE update similar to above but we update the s not return it
s.update(s2)
s

{10, 11, 12, 13, 14, 2, 3, 4, 5, 6, 7, 76, 8, 9, 'Badac', 'Valdis'}

In [44]:
s3=s+s2
s3

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [21]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# More Practice with Sets
# https://www.hackerearth.com/practice/python/working-with-data/set/tutorial/

In [47]:
s3

{10, 11, 12, 13, 14, 2, 3, 4, 5, 6, 7, 76, 8, 9, 'Badac', 'Valdis'}

In [48]:
11 in s3

True

In [38]:
'Valdis' in s

True

In [39]:
'Uldis' in s

False

In [40]:
s.update(("Uldis"))
s

{1,
 10,
 11,
 12,
 13,
 14,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Badac',
 'U',
 'Valdis',
 'd',
 'i',
 'l',
 's'}

In [41]:
s.update(("Uldis",))
s

{1,
 10,
 11,
 12,
 13,
 14,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Badac',
 'U',
 'Uldis',
 'Valdis',
 'd',
 'i',
 'l',
 's'}

In [45]:
s.update(("Uldis",))
s

{1,
 10,
 11,
 12,
 13,
 14,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Badac',
 'U',
 'Uldis',
 'Valdis',
 'd',
 'i',
 'l',
 's'}

In [46]:
"Uldis" in s

True

In [50]:
for el in s3:
    print(el)

2
3
4
5
6
7
8
9
10
11
12
13
14
Badac
76
Valdis

In [51]:
import random

In [53]:
random.seed(42)
myrandoms = [random.randint(1,200) for _ in range(100)]
myrandoms

[164,
 29,
 7,
 190,
 71,
 63,
 58,
 36,
 189,
 27,
 174,
 190,
 140,
 23,
 152,
 109,
 9,
 8,
 24,
 56,
 60,
 130,
 155,
 7,
 144,
 51,
 184,
 167,
 180,
 140,
 108,
 57,
 115,
 151,
 72,
 2,
 195,
 41,
 179,
 109,
 88,
 72,
 40,
 56,
 196,
 87,
 27,
 24,
 98,
 25,
 92,
 89,
 155,
 68,
 12,
 187,
 118,
 138,
 32,
 97,
 21,
 142,
 76,
 161,
 159,
 93,
 148,
 50,
 181,
 18,
 12,
 170,
 59,
 198,
 75,
 21,
 60,
 26,
 98,
 72,
 117,
 163,
 94,
 42,
 95,
 91,
 54,
 172,
 69,
 180,
 175,
 166,
 19,
 156,
 163,
 44,
 137,
 187,
 63,
 42]

In [54]:
myuniques = set(myrandoms)

In [55]:
len(myuniques), len(myrandoms)

(81, 100)

In [56]:
stringmethods = list(dir(str))
len(stringmethods)

78

In [57]:
listmethods = list(dir(list))
len(listmethods)

46

In [58]:
uniq_string_methods = set(stringmethods)
len(uniq_string_methods)

78

In [59]:
uniq_list_methods = set(listmethods)
len(uniq_list_methods)

46

In [60]:
common_methods = uniq_list_methods.intersection(uniq_string_methods)
common_methods

{'__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index'}

In [61]:
# we filter for only regular methods 
mycommonmethods = [el for el in common_methods if '__' not in el]
mycommonmethods

['count', 'index']