# Variables, Arithmetic and Data Types

In [2]:
print("hello Variables")

hello Variables

In [3]:
!dir # not python ! gives us access to command line commands

sample_data

In [5]:
# This is a comment for humans not computer, so think of a note for future ourselves
# best comments are those that explain WHY we are doing something
print("This is printing") # this prints something is not a great comment past beginner stage
# print("This is not printing") # so Ctrl+/ works in most code editors for Python (and many other languages)

This is printing

In [14]:
myname = "Valdis" # in python we need no special keyword for variables
# so variable myname now points to string literal "Valdis"

In [10]:
print(myname)

Valdis

In [9]:
myname # lazy approach in notebooks, it prints the last line in a developer mode - gives you '' around strings for one

'Valdis'

In [11]:
myname = "Val" # reassigns myname to point at a different string literal "Val"
# 'Valdis' if no variable is pointing at it, will be deleted automatically (garbage collection)
print(myname)  # this prints to standard output by defaul
myname  # this line will not be printed
myname  # as the last one it will be printed

Val

'Val'

In [15]:
print("My name is", myname)  # so by default print separates different variables, strings by one whitespace

My name is Valdis

In [13]:
print("My name is", myname, sep="-\*/-")  # i can put a fancy separator, not used too often

My name is-\*/-Val

In [ ]:
# Generally you should run cells in order because easier to reason about

In [ ]:
# variable names should start with lowercase letter 
# and can contain letters, numbers and underscores

In [16]:
my_var = 6
print(my_var) # snake syntax meaning _ syntax
myVar = 50 # camelCase syntax common in Javascript other programming
print(myVar) 
# Recommendation is to keep one style for one project, one notebook, so mixing two styles is generally not recommended

6
50

In [17]:
name = "Valdis"
print(name) # this prints the contents to which the variable points at
print("name")  # we print the so called string literal - not a variable

Valdis
name

In [ ]:

The following identifiers are used as reserved words, or keywords of the language, and cannot be used as ordinary identifiers. They must be spelled exactly as written here:

False      class      finally    is         return
None       continue   for        lambda     try
True       def        from       nonlocal   while
and        del        global     not        with
as         elif       if         or         yield
assert     else       import     pass
break      except     in         raise

In [22]:
my_food = "carrots"
my_other_food = my_food  # here my_other_food points at the same string(text) as my_food
my_food = "potatoes" # now my_food points at a new string value, BUT my_other_food still points at the original carrots string
print("My favorite foods are", my_food, "and", my_other_food) # the names have to exist before we print them

My favorite foods are potatoes and carrots

In [ ]:
my_food = "oats"

In [ ]:
my_food = "blueberries"

In [ ]:


print("My favorite foods are", my_food, "and", my_other_food)

In [23]:
type(my_food) # we can determine the data type

str

In [24]:
type("Valdis")

str

In [30]:
RTU = "Riga Technical University" # uppercase are generally reserver for constant value, it is a convention not a prohibition
# so RTU is really a variable, but the uppercase indicates that it should not be changed, but there is no hard prohibition
my_school = RTU
type(my_school), my_school, RTU

(str, 'Riga Technical University', 'Riga Technical University')

In [31]:
print(RTU, my_school)

Riga Technical University Riga Technical University

In [33]:
# so good variable names should be descriptive but also as short as possible
# my_really_important_variable_with_contents_of_my_thesis is a bit too long for a variable name
# learning materials tend to use short names and often they are too short
# a,b,c should be avoided unless you can figure out what they mean from context
# there some short variable names that are widely used
# c - could mean a single character (even though Python only has strings does not have character data type) so string with single char
# f - could be file name, or file stream
# i - this is very common in many languages it could be index, iterator, something we count
# s - could be text/string 
# t - time or temporary
# x,y,z for coordinate variables would be ok

# something like aa would be pretty weak name unless you have some specific domain where it makes sense
# aa - could be american_airlines or something else

# one of the hardest tasks in programming is coming up with good variable names

In [34]:
print(type("Valdis"))

<class 'str'>

In [35]:
type(5)

int

In [36]:
type("5")

str

In [37]:
print(type(5), type("5")) # one is an integer one is a string data type

<class 'int'> <class 'str'>

In [38]:
a = 42
type(a)

int

In [40]:
a = "answer"
type(a)
# this means that in Python data types are dynamic - can be changed, 
# this can be convenient but can lead to errors in a longer code (or notebook)

str

In [42]:
type(myname)

str

In [43]:
myname = 7
type(myname)

int

## Data types in Python 3.x
* Integers type(42) int 
* Floating Point type(3.14) float
* Boolean type(True),type(False) bool
* String(ordered, **immutable** char sequence) type("OyCaramba") str
* List type([1,2,63,"aha","youcanmixtypeinsidelist", ["even","nest"]]) list
* Dictionary(key:value pairs) type({"foo":"bar", "favoriteday":"Friday"}) dict
* Tuple - ordered immutable sequence type("sup",7,"dwarves") tup
* Set (unordered collection of uniques) ("k","a","r","t","u","p","e","l","i","s")

In [44]:
a=42
print(type(a), type(42))

<class 'int'> <class 'int'>

In [45]:
b=20
print(b, id(b)) # id means some memory location(virtual)

20 94400372857952

In [46]:
c=200
print(c, id(c))

200 94400372863712

In [48]:
my_number = 200
print(my_number, id(my_number)) # so id's in this case will match because both variables c and my_number are pointing to the same memory location

200 94400372863712

In [49]:
pi = 3.1415926 # so in Python we use . not comma
print(pi, type(pi))

3.1415926 <class 'float'>

In [51]:
result = 2+2
print(result, type(result))

4 <class 'int'>

In [52]:
res2 = 30/2 # so 30/2 gives you what data type?
print(res2, type(res2))

15.0 <class 'float'>

In [53]:
res3 = 10 / 3 
print(res3, type(res3))

3.3333333333333335 <class 'float'>

In [54]:
30//2 # this gives you whole part

15

In [55]:
7 / 2, 7 // 2

(3.5, 3)

In [56]:
7*5, 7**2  # so * for multiplication and ** for raising powers

(35, 49)

In [57]:
10**100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [58]:
googol = 10**100
print(googol, type(googol))

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 <class 'int'>

In [59]:
negative_big = -3432532505820582
print(negative_big, type(negative_big))

-3432532505820582 <class 'int'>

In [60]:
7%5 # so % gives you reminder, there is a tiny bit of difference modulo

2

In [61]:
7%2, 8%2, 9%2, 10%2, 11%2, 12%2 # so % 2 will let us determine if number is ?

(1, 0, 1, 0, 1, 0)

In [62]:
535264264624 % 10 # this will give us ?

4

In [63]:
535264264624 % 100 # this will give us ?

24

In [64]:
535264264624 / 100

5352642646.24

In [ ]:
34344435%2

In [65]:
0.1+0.2 # floats are weird you'd expect it to be 0.3 right ?

0.30000000000000004

In [66]:
# https://en.wikipedia.org/wiki/IEEE_754
# turns out there are many numbers which you can not represent in floating point standard exactly

In [68]:
0 == 0.1+0.2-0.3

False

In [69]:
0.1+0.2-0.3 # so almost 0 but not quite like 0.0000000000000000551

5.551115123125783e-17

In [ ]:
2**3 # this is 2 to the power of 3 , so 2 cubed

In [ ]:
81**0.5 # so square root

In [70]:
2**32 # this is significant number for computer hardware  # this explains why 32bit memory addressing is not enough only 4GB

4294967296

In [71]:
2**64 # why we have 64 bit machines these days and OSes

18446744073709551616

In [ ]:
2**3242 # python lets us use big numbers immediately

In [ ]:
10**100 # Googol

In [73]:
a,b,c

(42, 20, 200)

In [74]:
c=b+a  # evaluation is from the right to the left so c points to the results of b+a

In [75]:
c

62

In [76]:
d=b/a
print(d, type(d))

0.47619047619047616 <class 'float'>

In [77]:
e=b-a
print(e, type(e))

-22 <class 'int'>

In [78]:
f=b*e
f

-440

In [ ]:
2**10

In [ ]:
2**32

In [ ]:
2**64

In [79]:
result = 2**64
print(a)
print(result)

42
18446744073709551616

In [ ]:
42//20

In [ ]:
47//20

In [ ]:
47%20

In [ ]:
7%2

In [80]:
a = 10
print(a)

10

In [86]:
a = a + 5 # expression is evaluated right to left, NOT an algebra equality!!!
print(a)

40

In [90]:
# this increasing a variable by something is so common that there is a lazy shortcut 
a += 6 # this means a = a + 6
print(a)

64

In [91]:
# Python does not have ++ or --
a += 1 # increase by one
a

65

In [97]:
a -= 1 # decrease by one same as writing a = a - 1
a

59

## id(object)

Return the “identity” of an object. 

This is an integer which is guaranteed to be unique and constant for this object during its lifetime. 
Two objects with non-overlapping lifetimes may have the same id() value.

#### CPython implementation detail: This is the address of the object in memory.

In [ ]:
b+=22 # shortcut operator to add to existing value of a variable b = b + 22
# += /= -= *=
print(b)

In [98]:
id(a),id(b),id(42),id(3),id(4),id(5),id(5000),id(5001),id(5002) # notice how ids are incremented!
# explanation is that most Python implementations -10 to 255 is pre-stored in memory 
# other numbers are stored as needed

(94400372859200,
 94400372857952,
 94400372858656,
 94400372857408,
 94400372857440,
 94400372857472,
 140017784649968,
 140017784649392,
 140017784649360)

In [ ]:
id(6)

In [ ]:
id(-1),id(0),id(1)

In [ ]:
id(7)
id(-6),id(-5),id(-4)

In [ ]:
a is b

In [ ]:
second_name = "Valdis"
name = "Valdis"
print(name, second_name)

In [ ]:
print(id(name), id(second_name))

## Floating Point

In [ ]:
4/5 + 2/3 + 1/7

In [ ]:
0.1+0.2+0.3-0.6
# More on floating point https://docs.python.org/2/tutorial/floatingpoint.html

## Strings
* immutable

In [ ]:
name = "Valdis"
print(name)

In [ ]:
# this is a comment meaning for us humans, not for computer :)

In [ ]:
len(name) # length of string which name variable points to

In [ ]:
len("name") # so "name" is just some text - string literal

### Slicing Notation
![Slice](https://i.stack.imgur.com/IVkET.jpg)
* hot linking can be dangerous if you are taking image where you are not supposed to somebody can put something rude on that image

In [ ]:
name, name[0] 
# notice index starts with 0! most programming languages start with 0

In [ ]:
name, name[5],name[-1],name[-2]

In [ ]:
name[0:3], name[:3] # so [:index] will go until that index from 0

In [ ]:
name[:4]

In [ ]:
name[1:4] # so I skip the 0 character

In [ ]:
name[-3]

In [ ]:
name[0:6:1] # this is actually the full syntax of slice

In [ ]:
name[::1]

In [ ]:
name, name[1:6:2]

In [ ]:
name, name[::2]

In [ ]:
# Python way of reversing a string
name, name[::-1]

In [ ]:
name_rev = name[::-1]
name_rev

In [ ]:
name[5:2:-1]

In [ ]:
# name[3]='b' 
# string are immutable you are not supposed to change strings

In [ ]:
#name[3]="b" # You can in fact make new strings
name=name[:3]+"D"+name[4:]
print(name)

In [ ]:
n2=name[:]
print(n2)
print(id(n2),id(name))
print(name[:])

In [ ]:
name = "Voldemars"
print(n,n2,name)

In [ ]:
n2 = "Something"

In [ ]:
name=name[::-1]
print(name)

In [ ]:
multi_string = """Really
Long
And
Boring
String"""
print(multi_string)

In [ ]:
t = "Talk " + 10 # Python is strongly typed so this will not work!
print(t)

In [ ]:
str(555)

In [ ]:
t = "Talk " + str(10) # Python is strongly typed so this will not work!
print(t)

In [ ]:
my_talk = f"Talk {a} {b} {c} {name} and so on" # f-strings
my_talk

In [ ]:
print(f"Hello there {name}! ")

In [ ]:
new_name = input("What is your name friend?") # input gives out str
print(f"Wow {new_name} that is a nice name!")

In [ ]:
new_num = input("Enter a number")
new_num = int(new_num) # we trust user is giving us number, we cast to number
print(new_num, type(new_num))

Enter a number777
777 <class 'int'>

In [ ]:
id('25'),id(25)

In [ ]:
int('345')

In [ ]:
?str

In [ ]:
# Automatic string concatenation without +
funny_string = ('Monty '
'Python ' 
'Spam '*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

In [ ]:
print("It's \ta \"wonderful\" \nlife")

In [ ]:
print('Really really long line\

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [99]:
weekday="Wednesday"
month="February"
day=9
greeting = f'Today is {day}th of {month} which is {weekday}. Nice {month} isn\'t it ? ' # so I can use {} to put variables and expressions inside strings
print(greeting)
#nicer than format method

Today is 9th of February which is Wednesday. Nice February isn't it ?

In [ ]:
seconds=345.24556
width=22 # how much space our formatted value should take up
precision=8 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{12}.{precision}} seconds since start of new era')
print(f'Elapsed {seconds:{7}.{5}} seconds since start of new era')
print(f'Number {5556.2222:{12}.{6}}')

In [100]:
my_name = input("What is your name?") # inputs asks interactive for a string value

What is your name?Valdis

In [101]:
my_name

'Valdis'

In [102]:
# there is one catch with input
my_number = input("What is your favorite number?")
print(my_number)

What is your favorite number?77
77

In [103]:
type(my_number)

str

In [104]:
new_result = my_number + 100  # this will not work out of the box because of types
print(new_result)

TypeError: ignored

In [106]:
full_name = my_name + " Saulespurens" #i can use + to add strings , notice the space before Sau
print(full_name)

Valdis Saulespurens

In [107]:
new_result = int(my_number) + 100
new_result # probably what you want

177

In [110]:
# alternatively maybe you want this
another_result = my_number +str(100)
print(another_result, type(another_result))

77100 <class 'str'>

In [111]:
new_int = int("Valdis007") # will not work...

ValueError: ignored

In [112]:
new_int = int(3.1415926) # this will work but we will lose whatever was after comma
new_int

3

In [113]:
another_int = float(new_int)
another_int # so whatever was after comma is gone

3.0

In [ ]:
greeting[10:33:1]

### Python 3.X strings are Unicode by default no more 'u prefixes

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 3rd letter of your favorite
* Output first 2 letters of your favorite
* Output last 3 letters of your favorite
* Output reverse of your favorite
* Output every 2nd character of your favorite in reverse

In [ ]:
food = ""