In [1]:
True # George Boole 19th century mathematician invented boolean algebra
# extremely well suited for computers which work with 0s and 1s

True

In [3]:
type(True), type(False) # there is no Maybe

(bool, bool)

In [4]:
5 > 7

False

In [5]:
type(5 > 7)

bool

In [6]:
8 == 18-10  # not to be confused with assignment =   !!!

True

In [7]:
2*2 == 4, 2*2 == 5

(True, False)

In [9]:
5 == '5' # these are not the same in Python! because '5' is a string!

False

In [10]:
5 == int('5')

True

In [11]:
2 < 3

True

In [12]:
10 >= 10 # True when left side is greater or equal than right side

True

In [13]:
5 <= 6, 5 <= 5, 6 <= 5

(True, True, False)

In [14]:
a = 2
b = 3
a < b

True

In [16]:
a < b, a > b

(True, False)

In [17]:
# Inequality

In [18]:
5 != 4 # this is a True statement

True

In [19]:
5 != 6

True

In [20]:
5 != 5  # This is False  because they are in fact equal

False

In [21]:
a * a == 4

True

In [23]:
a * a != 4  # False because in fact a*a is equal to 4

False

In [24]:
2 < 3 < 4 < 6  # we can chain comparisons together

True

In [25]:
2 < 3 == 4 < 6

False

In [26]:
a < b < 100

True

In [27]:
a,b

(2, 3)

In [29]:
'VALDIS' < 'VOLDEMARS' # what is being compared here?

True

In [30]:
len('VALDIS') < len('VOLDEMARS')  # if you want to  compare string lengths this is what you would use

True

In [31]:
'VALDIS' < 'VOLD'

True

In [34]:
'Valdis' < 'VALDIS'  # should be False, because lowercase a has a higher ascii (and Unicode) value over capital A

False

In [35]:
'VALDIS' < 'VB'

True

In [36]:
'ZALDIS' < 'VB',  'ZALDIS' > 'VB'

(False, True)

In [37]:
'Valdis' > 'VALDIS' # because a comes after A

True

In [39]:
len('VALDIS'), len('VOLDEMARS')

(6, 9)

In [ ]:
len('VALDIS') < len('VOLDEMARS')

# We check each letter from left side
# on mismatch we check ASCII (UTF-8) tables for values

'VALDIS' < 'VOLDEMARS'

In [40]:
'kaÄ·is' < 'kakis' # cat vs cat in Latvian, False because Ä· has higher Unicode value

False

In [41]:
chr(65)

'A'

In [42]:
chr(400) # so you can get UTF-8 characters out of their code numbers

'Æ'

In [43]:
chr(4000)

'à¾ '

In [44]:
chr(40000)

'é±€'

In [45]:
chr(100000)

'ð˜š '

In [46]:
# ord gets you integer value representing unicode value
ord('Ä·')

311

In [47]:
ord('Ä¶')

310

In [48]:
ord('Ä€'),ord('Ä')

(256, 257)

In [49]:
ord('ðŸ˜€')

128512

In [51]:
int("0x1f600", 16)  # so unicode.org was giving us the values in hex format which is base 16, meaning hex A = 10 in decimal, hex F is 15 in decimal

128512

In [52]:
int("01111011", 2)

123

In [53]:
int("111", 2) # this is 7 because , we have 4 + 2 + 1 which are powers of 2

7

In [54]:
'ðŸ˜€' < 'ðŸ˜'  # True because of the Unicode values https://unicode.org/

True

In [55]:
'Valdis'  < "VOLDEMARS"  # False because a has a higher ASCII (and Unicode) value than O

False

In [56]:
print(chr(97))

a

In [57]:
chr(4000)

'à¾ '

In [ ]:
ord("Ä")

In [58]:
ord('ðŸ˜')

128513

In [ ]:
ord('Ä¶')

In [ ]:
list(range(5))

In [59]:
0 == 0

True

In [64]:
0.1+0.2-0.3 == 0  # False because of floating point imprecision

False

In [61]:
round(0.1+0.2) == 0  # True because 0.3 rounded down is 0

True

In [62]:
round(0.1+0.2, 5) == 0  # Fals because with 5 digit precision we get 0.3 and that is not equal to 0

False

In [65]:
round(0.1+0.2, 5)

0.3

In [66]:
0.1+0.2-0.3

5.551115123125783e-17

In [67]:
round(0.1+0.2-0.3, 6)

0.0

In [69]:
round(0.1+0.2-0.3, 5) == 0 # so i can round to 5 digit precision and then the equality will work

True

## is identity comparison

In [72]:
a is b # generally we use == for comparision, this is equivalent to  id(a) == id(b) so checks if a and b refence the same object in memory

False

In [73]:
5 is 4 # avoid, use == for numeric comparison

False

In [ ]:
# is is useful when we compare two more complex objects, data structures and we want to know whether they refer to same object or are copies of this object

In [ ]:
# overusing is can lead to false negative bugs

In [76]:
bool(1)  # actually most values are Truthy that is bool(somevalue) will give True

True

In [80]:
bool("Valdis")

True

In [81]:
bool(9001)

True

In [82]:
bool(-1)

True

In [83]:
bool(None)  # therea are a few more falsy values, that is values that give False when converted with bool(somevalue)

False

In [77]:
int(True)

1

In [78]:
bool(0)

False

In [79]:
int(False)

0

# Logical Operators

In [74]:
not True, not False # so this logical negation, # other computer languages use ! for negation not Python

(False, True)

In [75]:
not 2*2 == 4 # False because the right side is true, and we start evaluation from the right side

False

In [ ]:
# and is only only true if both sides are true, otherwise false

## Logical Conjuction with and

In [84]:
True and True

True

In [85]:
True and False # and requires for BOTH sides to be true

False

In [86]:
False and True

False

In [87]:
False and False

False

In [88]:
5 > 4 and 2*2 == 4

True

In [89]:
True and True and 2*2 == 4

True

In [90]:
True and True and 2*2 == 4 and 2*2 == 5 # one drop of oil spoils honey

False

In [91]:
#Lazy evaluation
# As soon as something is false,Python will stop evaluating the sequence

3 < 2 and True and 2*2 == 4 and 5 == 5 
# once the first false value is found Python stops looking

False

## Logical Disjunction using **or**

In [92]:
True or False

True

In [93]:
False or False

False

In [94]:
True or True

True

In [95]:
False or True

True

In [ ]:
False or True or True or 2*2 == 4 # Python stops checking after first True

In [96]:
#lazy evaluation
(4 == 4 or 4 < 3) or 4 < 3

True

In [97]:
not 4 == 4 # so we invert True

False

In [98]:
# if you are unsure of the order , you can are free to use parenthesis when combining and and or or and and or :)

# Bit Operators

In [ ]:
# this is for hardware engineers, automechanics, maybe Raspberry Pi owners
~0

In [ ]:
~1

In [ ]:
~0

In [ ]:
bin(4)

In [ ]:
bin(7)

In [ ]:
bin(-1)

In [ ]:
# bit operation 11 and 100 so no bits so we get 000
3 & 4

In [ ]:
3 & 5 # 11 and 101 so we should get 001 that is 1

In [ ]:
2**8 # THIS MEANS that one byte can hold 256 different values

In [ ]:
bin(255),bin(3),bin(4),bin(5),bin(6),bin(7)

In [ ]:
bin(127), bin(128)

In [ ]:
1+2**1+2**2+2**3+2**4, bin(31)

In [ ]:
bin(3)

In [ ]:
bin(4)

In [ ]:
# bit or will be 11 or 100 should be 111
3 | 4

In [ ]:
# Bitwise XOR (Exclusive XOR)
True ^ False

In [ ]:
True ^ True

In [ ]:
False ^ False

In [ ]:
# shifted 1 to 100000 which is 32, 2 to the 5th power
1 << 5

In [ ]:
bin(32)

In [ ]:
127 >> 4

In [ ]:
bin(127)

## If Statement

In [99]:
## Conditional execution is what makes our languages Turing complete - this means that theoretically all Turing languages have same power(computational capabilites)
# if 4 is larger than 5 then do something
if 6 > 5:
    print("6 is larger than 5 wow!")

6 is larger than 5 wow!

In [101]:
## Conditional execution
# if 4 is larger than 5 then do something
my_val = 10
if my_val > 5: # so if blocks only when the statement is True
    # so we have code block when if is true
    print(f"{my_val} is larger than 5 wow!")
    # only runs when if statement is true
    print("Only when if is true")
print("This will always run no matter the value of ", my_val)

10 is larger than 5 wow!
Only when if is true
This will always run no matter the value of  10

In [104]:
a = 10
b = 5
if a > b:  #most code editors you can set identation level (it is usually 2 or 4)
    print("nice", a, " is larger than", b)
    print("This will also print")
print("This will print no matter what a > b")

nice 10  is larger than 5
This will also print
This will print no matter what a > b

In [105]:
if 5 >= 5:
    print("hello")
if 5 <= 5:
    print("hello")
if 5 == 6:
    print("hello thats magic")
if 5 != 6:
    print("hello thats not magic")

hello
hello
hello thats not magic

In [106]:
if 2*2 == 4:
    print("Do one thing if if is True")
    print("DO more things if if is True")
print("Do this always")

Do one thing if if is True
DO more things if if is True
Do this always

In [ ]:
a = 4
if 2*2 == a:
    print("Do one thing if if is True")
    print("DO more things if if is True")
    
    
    print("Do more")
print("Do this always")

In [108]:
a = 4
if 2*2 == a:
    print("Do one thing if if is True")
    print("DO more things if if is True")
    # we can do nested ifs (meaning we check inside another if)
    if (a > 3):
        print("Do more")
        
if (a > 3):
    print("a is larger than 3")       
# Last line will always be printed
print("Do this always")

Do one thing if if is True
DO more things if if is True
Do more
a is larger than 3
Do this always

In [111]:
a = input("What is your age ")  # so a will have a string value (always string!)
print('Your age is ', a)

What is your age just a number
Your age is  just a number

In [115]:
c = int(input("Enter temperature in Celsius ")) # you need to convert the string to integer to calculate
f = c * 9/5 + 32
f = round(f, 2)  # round it to 2 digits after comma
print("Farenheit Temperature is", f)

Enter temperature in Celsius 36
Farenheit Temperature is 96.8

In [117]:
c = float(input("ievadiet  temperature in Celsius "))
f = c * 9/5 + 32
f = round(f, 2)
print("Farenheit Temperature is", f)
if f > 100:
    print("You are too hot, find a doctor?")

ievadiet  temperature in Celsius 37.9
Farenheit Temperature is 100.22
You are too hot, find a doctor?

In [119]:
# Show all current local variables # this is Jupyter notebooks specific
%whos

Variable   Type     Data/Info
-----------------------------
a          str      just a number
b          int      5
c          float    37.9
f          float    100.22
my_val     int      10

In [ ]:
%store

In [ ]:
a = 5
b = "Food"

In [ ]:
%whos

In [ ]:
%store a

In [ ]:
%whos

In [ ]:
%store

In [ ]:
#Retrieve variables from disk
%store -r

In [ ]:
%whos

In [ ]:
%store b

In [ ]:
%store -r b

In [ ]:
b

In [ ]:
%store -r a

# Branching with **if else**

> [Road not taken](https://www.poetryfoundation.org/poems/44272/the-road-not-taken)

In [122]:
a = -15
if a > 5:  # if statement is true
    print('a is larger than 5')
    # do more stuff
else: # if statement is false
    print('a is NOT larger than 5')
    # do more stuff if a is not larger than 5
# we go back to normal code flow
print("Always print this")

a is NOT larger than 5
Always print this

## Multiple branches with **if elif and else**

In [125]:
#elif comes from else if
x = int(input("Enter an integer please! "))  # remember we have to convert our input to integer because it is a string
if x > 42:
    print("Too ambitious an answer!")
elif x < 42:
    print("You dream too little!")
else:
    print("That is the answer to everything!")
#These lines below will execute always
print('Your number is', x)

Enter an integer please! 42
That is the answer to everything!
Your number is 42

In [129]:
# in Python before 3.10 you only get if elif and else no other normal branching
# this can lead to long chaina of if elif elif elif else
char = input("input a character ")
if char == "A":
    print("Alpha!")
elif char == "B":
    print("Beta!")
elif char == "C":
    print("Charlie!")
else:
    print("Default something")
# we will see later there are some other ways of looking up values (using dictionaries and some other means)

input a character C
Charlie!

In [126]:
!python --version

Python 3.7.12

## Match in Python 3.10 and later (starting with late 2021 versions) you get match statement
https://www.python.org/dev/peps/pep-0634/#the-match-statement

Useful as a replacement for long chains of if elif elif statements

In [130]:
a, b

(-15, 5)

In [131]:
my_value = a or b  # what will be assigned to my_value
# this is a little trick
# in some languages this would be False or True, but not necessarily in Python
my_value

-15

In [ ]:
# why the value of a ? because it is the first truthy value and with or we do not need any more values
# so there is some logic behind this

In [132]:
another_value = a and b # how about now - it is not going be True necessarily
another_value # so here we will have the last value that makes it true

5

In [133]:
# The above should be uses sparingly because it can be hard to understand what is going on
# instead you could do this
if a: #if a is truthy - ie not zero, not empty , not None
    my_value = a
elif b:
    my_value = b
else:
    my_value = 0
my_value

-15

In [137]:
# there is also a ternary operator
a = -10_000
my_value = 10 if a > 9000 else 200  # so assign first value if if statement is true otherwise assign the last value
my_value

200

In [ ]:
# ternary again can be useful but can easily be replaced by regular if
if a > 9000:
    my_value = 10
else:
    my_vale = 200

In [ ]:
# Try to write not too clever code, because reading code is 2x as hard as writing, clever code is enemy of good code

## Loops
* While
* For
* Do While (emulate)

In [ ]:
sum(range(0,30))

In [ ]:
sum(range(0,30,5))

In [ ]:
i = 0
sum = 0
while i < 30 and sum < 100:
    print('i is ', i)
    sum += i # same as sum = sum + i
    print('sum is ', sum)
    i += 1
print('Final sum is ', sum)

In [ ]:
i = 0
while i < 5:
    print('i is', round(i, 6), i )
    i+=0.3 # same as i = i + 0.3
print('All Done', round(i, 6))

In [ ]:
# we can import an additional library for math functions
import math
math.ceil(5.7)

In [ ]:
summa = 0
maxnum = 30
step = 5
i = 0
while i < 30:
    summa += i
    print("Value:", i, " Current Sum:", summa)
    i += step
print("Iterator is", i, "Final sum is", summa)

In [ ]:
i = 0
while True:
    print("i is ", i)
    i += 1
    if i > 10:
        break # this will exit the loop
print("This will never print", i)

In [ ]:
i = 0
sum = 0
while i < 10:
    print(i)
    i += 1
    if i > 5:
        print("continuing loop when i is ", i)
        continue
    sum += i # this line will not be process if continue fires
print(sum)

In [ ]:
i

In [ ]:
# This will run forever and you will need to restart kernel
i = 0
while True:
    print("This print forever i is", i)
    i += 1
    if i > 5:
        print("Actually I decided to stop when i is", i)
        break # here we break out of while loop
    
print("This prints when we break out of loop")

In [ ]:
summa = 0
maxnum = 30
i = 0
while i < maxnum:
    summa += i
    print("Current sum is", summa)
    i += 1
print("Final sum is", summa)

In [ ]:
sum(range(10))

In [ ]:
sum(range(0,22,2))

In [ ]:
summa = 0
i = 2
while i <= 20:
    summa += i # summa = summa + i
    print('Sum is ', summa)
    i += 2
print("Final sum", summa)

In [ ]:
a = 2018
b = 2019
print(a,b)

In [ ]:
a = b
print(a,b)

In [ ]:
a = 2018
b = 2019
print(a,b)

In [ ]:
temp = a
a = b
b = temp
print(a, b)

In [ ]:
#More python way to exchange values
print("Before swap\t", a, b)
a, b = b, a
print("After swap\t", a, b)

In [ ]:
c = 2020
d = 2077

In [ ]:
# we can swap many values at once
print(a,b,c,d)
a,b,c,d = d,c,b,a # we calculate from right to left
print(a,b,c,d)

In [ ]:
# Good old Fibonacci
#a, b, c = 0, 1, 10
a = 1
b = 1
c = 10
while c < 100:
    print(a, b, c, b/a)
    a, b, c = b, a+b, c+1 # multiple assignment yay! right side from left to right eval first then assigned to left!
print(c)

In [ ]:
name = "Valdis"
for c in name: # we will loop through all characters in name
    print(c)

In [ ]:
for n in range(10):
    print(n)

In [ ]:
# this is an anti-pattern, try to avoid this
for c in range(len(name)):
    print(name[c])

In [ ]:
c

In [ ]:
for x in range(10):
    print(x, end="*")

In [ ]:
for x in [1,6,3,77,788]:
    print(x, x*x)
    # we could do more with our x here and do more
print(x)

In [ ]:
for c in "Valdis":
    print(c)

In [ ]:
name = "Valdis"
#Not Pythonic
for i in range(len(name)):
    print(i, name[i])

In [ ]:
name="Valdis Saules"
# Pythonic Way to number items in an iterable
for i, el in enumerate(name,start=1000):
    print(i, el)
print("At end", i, el)

In [ ]:
for el in name:
    print(el)

In [ ]:
groceries = ["Bread", "Milk", "Chocolate"]
for elem in groceries:
    print("I need to buy", elem)

In [ ]:
mlist = list(range(0,20,2))
mlist

In [ ]:
mlist[5]

In [ ]:
d={}
for index, elem in enumerate([1,2,6,55]):
    print(index, elem)
    d[str(index)]=elem
print(d)

In [ ]:
nd={}
for index, elem in enumerate([1,2,6,55]):
    print(index, elem)
    nd[index]=elem
print(nd)

In [ ]:
d['2']

In [ ]:
nd[3]

In [ ]:
nd[2]

In [ ]:
nd['2']

In [ ]:
d

In [ ]:
# also for k,v in d.items(): any names will do
for key, value in d.items():
    print('My dictionary item with key:',key, " value:", value)

In [ ]:
# How to iterate over a dictionary
for key, value in d.items():
    print("Processing")
    # here we add an if statement
    if value % 2 == 0:
        print(key,value)

In [ ]:
# outer loop
for a in range(1,5):
    # inner loop
    for b in range(20,24):
        print(a,b)

In [ ]:
print(a,b)

In [ ]:
for a in range(1,9):
    print('A is ', a)
    for b in range(a,6):
        print(a,b)

In [ ]:
n=0
for a in range(1,4):
    for b in range(11,14):
        for c in range(21,24):
            print(n, a, b, c)
            n+=1

In [ ]:
#The break statement, like in C, breaks out of the innermost enclosing for or while loop.

#Loop statements may have an else clause; it is executed when the loop terminates through exhaustion of the list (with for) or when the condition becomes false (with while), but not when the loop is terminated by a break statement. This is exemplified by the following loop, which searches for prime numbers:

for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else: #badly named Else IMHO! should be exhausted not ELSE!!! VS
        # loop fell through without finding a factor
        print(n, 'is a prime number')

In [ ]:
# The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action. For example:
# Do not run this !!!
while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
#emulated do while loop
a=0
while True:
    # statement(s)
    a+=1
    print(a)
    if not a < 5:
        break

## Iterating over lists

In [ ]:
for i in range(10):
    print(i, end='')  #Python 3.x specific

In [ ]:
for i in range(10):
    print(f'{i} ',end='')  #Python 3.6+ specific

In [ ]:
names=['Alice','Bob','Carol','David']
for n in names:
    print(n, len(n))

In [ ]:
# An older Pythonic method of iterating over indices of a sequence
# an anti-pattern 
for i in range(len(names)):
    print(i, names[i])

In [ ]:
for i, name in enumerate(names):
    print(i, name)

In [ ]:
mycollection=[]
for el in mycollection:
    pass # empty operation
    # do work on el in your collection

In [ ]:
squares = []

In [ ]:
squares = []
# For example, assume we want to create a list of squares, like:
for x in range(30,40,2):
    squares.append(f'Square of {{x}} {x} is {x**2}')
    squares.append('Square of {x} ' +str(x) + ' is ' + str(x**2))
squares
#[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# complex numbers in Python
4+5j # so j is i in math which square root of -1

In [ ]:
(4+5j)*(3+2j) # 4*3 == 12 (5*3)j+(2*4)j + (5j*2j)= 10*-1

In [ ]:
i = (2+4j)

In [ ]:
i**2

In [ ]:
1_000_000 # for big numbers you can type like this and _ will be ignored

In [ ]:
1_0_0_4

In [ ]:
1 000 000 # this will not work

In [ ]:
# logical or, one side should be true for the whole expression to be true

# List Comprehensions

In [ ]:
mlist = [x**2 for x in range(10)]
mlist

In [ ]:
mylist = [x+5 for x in range(10) if x%2 == 0]
mylist

In [ ]:
myl = [x+10 for x in range(5) if x%2 == 0]
myl

In [ ]:
"kartupelis"[::2]

In [ ]:
mytlist = ["Letter is "+ c for c in "kartupelis" if c > 'e']
mytlist

In [ ]:
name = "Valdis Saules"
mynd = {"key "+c: ord(c) for c in name}
mynd

In [ ]:
name = "Valdis Saules"
mynd = {"key "+c+str(i): [c, ord(c)] for i,c in enumerate(name)}
mynd

In [ ]:
mylist=[]
for x in range(10):
    mylist.append(x+5)

In [ ]:
# Note that this creates (or overwrites) a variable named x that still exists after the loop completes. We can calculate the list of squares without any side effects using:

# squares = list(map(lambda x: x**2, range(10)))

squares = [x**2 for x in range(10)]
squares

In [ ]:
squares = [x**2 for x in range(10) if x % 2 == 1]
squares

In [ ]:
mydict = {"key "+c: ord(c) for c in "kartupelis"}
mydict

In [ ]:
# In addition, dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:


sqrs={str(x): x**2 for x in range(1,20)}
print(sqrs)

In [ ]:
sqrs[5]

In [ ]:
#When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

## Avoid changing the sequence that you loop(iterate) over!

In [ ]:
mlist = list(range(10))
mlist

In [ ]:
for el in mlist:
    print(el)
    # do not modify mlist when going looping through:

In [ ]:
names

In [ ]:

for n in names[:]: #Looping over shallow copy of a list useful if we are going to modify the original list!
    if n[0]=='B':
        names.append(n)
print(names)

In [ ]:
## Enumerate method
#When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.


for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

### To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [ ]:
mlist

In [ ]:
# two ways of looping through list and creating a new list
clist = []
for el in mlist:
    clist.append(el**3)
clist

In [ ]:
# second way of creating a list
clist = [x**3 for x in range(10)]
clist

In [ ]:
for a,b in zip(mlist,clist[:5]):
    print(a,b)

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print(f'What is your {q}?  It is {a}.')

In [ ]:
# To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.


for i in reversed(range(1, 10, 2)):
    print(i)

In [ ]:
# To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.


basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

## Homework
### Write a program that goes over(iterates) numbers from 1 to 100(included)
* For each number it prints Fizz if number divides by 5 even
* For each number it prints Buzz if number divides by 7 evenly
* If number divides by 5 AND 7 print FizzBuzz
* print number if it does not divide by 5 nor 7
* 1,2,3,4,Fizz,6,Buzz,8,9,Fizz,11,.......34,FizzBuzz,36

In [ ]:
1,2,3,4,"Fizz"

In [ ]:
for x in range(1,101):
    print(x)